/*
Template: InTime
Author: Just Good Themes, http://justgoodthemes.com/
Version: 1.1
*/

/*
Colors:
#ffffff, rgb(255,255,255)
#f7f7f7, rgb(247,247,247)
#dadada, rgb(218,218,218)
#a9a9a9, rgb(169,169,169)
#6e6e6e, rgb(110,110,110)
#474747, rgb(71,71,71)
#1f1f1f, rgb(31,31,31)
#73ba37, rgb(115,186,55) - green
*/

/* Icon font
-------------------------------------------------*/
/* Entypo, http://www.entypo.com/
   Created by Daniel Bruce, http://danielbruce.se/
   CC BY-SA 3.0 License: http://creativecommons.org/licenses/by-sa/3.0/us/
*/
@font-face {
	font-family: 'entypo';
	src:url('fonts/entypo.eot');
	src:url('fonts/entypo.eot?#iefix') format('embedded-opentype'),
		url('fonts/entypo.woff') format('woff'),
		url('fonts/entypo.ttf') format('truetype'),
		url('fonts/entypo.svg#entypo') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'entypo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-play:before {
	content: "\e61d";
}
.icon-pause:before {
	content: "\e61e";
}
.icon-sound:before {
	content: "\e620";
	
}
.icon-mute:before {
	content: "\e61f";
}

/* Reset
-------------------------------------------------*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden] {
	display: none;
}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

html,
body {
	height: 100%;
}

html,
button,
input,
textarea {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background: #000;
	color: #dadada;
	line-height: 1.75;
	margin: 0;
}

a {
	color: #dadada;
	text-decoration: underline;
}

a:active,
a:focus,
a:hover {
	outline: 0;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4 {
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	line-height: 1.16667;
	margin: 0 0 28px;
	text-align: center;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

b,
strong {
	font-weight: 700;
}

i,
em {
	font-style: italic;
}

p {
	margin: 0 0 28px;
}

ul,
ol {
	margin: 0 0 28px;
	padding: 0 0 0 24px;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

img {
	border: 0;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}

form {
	margin: 0;
}

button,
input,
textarea {
	border-radius: 0;
	font-size: 14px;
	margin: 0;
	max-width: 100%;
	vertical-align: baseline;
	-webkit-box-sizing:	border-box;
	-moz-box-sizing:	border-box;
	box-sizing:			border-box;
}

button,
input {
	line-height: normal;
}

button,
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

/* General styles (grid, forms, common classes, etc)
-------------------------------------------------*/
/* Clearing floats */
.row:after,
#bg-video-controls:after { 
	clear: both; 
}

.row:before,.row:after,
#bg-video-controls:before,#bg-video-controls:after { 
	content: ""; 
	display: table; 
}

/* Assistive text */
.screen-reader-text {
	border: 0 none;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
}

/* Grid */
.row {
	margin-left: -48px;
}

.one-half {
	-webkit-box-sizing:	border-box;
	-moz-box-sizing:	border-box;
	box-sizing:			border-box;
	float: left;
	padding-left: 48px;
}

.one-half {
	width: 50%;
}

/* Forms */
input,
textarea {
	background: #6e6e6e;
	background: rgba(169,169,169,0.3);
	border: 1px solid #6e6e6e;
	color: #fff;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 12px;
	text-transform: uppercase;
}

/* Placeholder text color */
::-webkit-input-placeholder {
	color: #a9a9a9;
}

::-moz-placeholder {
	color: #a9a9a9;
	opacity: 1;
}

.placeholder {
	color: #a9a9a9;
}

/* Responsive images */
.content img {
	height: auto;
	max-width: 100%;
}

/* Custom text styles */
.subtitle {
	font-size: 16px;
	letter-spacing: 1px;
	margin: 28px auto;
	text-align: center;
	text-transform: uppercase;
	width:80%;
}
.row h2 {
	font-size: 24px;
	margin-bottom: 14px;
	text-align: left;
}

#modal .section-title {
	margin-bottom: 42px;
}

/* Icons */
.social .icon,
.modal-toggle .icon,
#bg-video-controls .icon {
	color: #f7f7f7;
	display: inline-block;
	font-size: 18px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	text-decoration: none;
	width: 36px;
	-webkit-transition:	all 0.3s ease;
	-moz-transition:	all 0.3s ease;
	transition:			all 0.3s ease;
}

.social .icon:hover,
.modal-toggle .icon:hover,
#bg-video-controls .icon:hover {
	color: #73ba37;
}

.row h2 .icon {
	font-size: 18px;
	line-height: 1.55556;
	margin-right: 10px;
}

/* Preload */
#preload {
	background: #1f1f1f url(images/overlay.png) repeat;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;	
	width: 100%;
	z-index: 998;
}

#preload-content {
	height: 100px;
	left: 50%;
	margin-left: -50px;
	margin-top: -50px;
	position: absolute;
	top: 50%;
	width: 100px;
	z-index: 999;
}

.preload-text {
	color: #ffd154;
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	text-align: center;
}

.preload-spinner {
	margin: 0 auto 14px;
	text-align: center;
}

.bounce1,
.bounce2,
.bounce3 {
	-webkit-animation-name: bounce;
	-webkit-animation-duration: 1.4s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-fill-mode: both;
	-moz-animation-name: bounce;
	-moz-animation-duration: 1.4s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-fill-mode: both;
	animation-name: bounce;
	animation-duration: 1.4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
	background: #474747;
	display: inline-block;
	height: 14px;
	margin: 0 3px;
	opacity: 0.6;
	width: 14px;
}

.bounce1 {
	-webkit-animation-delay: -0.32s;
	-moz-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.bounce2 {
	-webkit-animation-delay: -0.16s;
	-moz-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes bounce {
	0%, 80%, 100% { -webkit-transform: scale(0.0) }
	40% { -webkit-transform: scale(1.0) }
}
@-moz-keyframes bounce {
	0%, 80%, 100% { -moz-transform: scale(0.0) }
	40% { -moz-transform: scale(1.0) }
}
@keyframes bounce {
	0%, 80%, 100% { transform: scale(0.0) }
	40% { transform: scale(1.0) }
}

/* Basic Structure
-------------------------------------------------*/
.wrap {
	min-height: 100%;
	position: relative;
	z-index: 2;
}

.inner {
	margin: 0 auto;
	padding: 42px 24px;
}

#main {
	position: relative;
}

#main .inner {
	max-width: 816px;
	padding-bottom: 126px;
	padding-top: 50px;
}

#modal {
	background: #1f1f1f;
	background: rgba(31,31,31,0.8);
	display: none;
	left: 0;
	min-height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 997;
}

#modal .inner {
	max-width: 612px;
}

/* Background Overlay */
.body-bg {
	background: rgba(0,0,0,0.5) url(images/overlay.png) repeat;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

/* Background Video */
#bg-video-controls {
	bottom: 0;
	height: 36px;
	padding: 4px;
	position: fixed;
	right: 0;
	text-align: center;
	width: 73px;
	z-index: 3;
}

#bg-video-controls a {
	display: block;
	float: left;
}

#bg-video-controls a:first-child {
	border-right: 1px dotted #dadada;
	border-color: rgba(218,218,218,0.8);
}

/* Main
-------------------------------------------------*/
/* Header */
.site-title {
	font-size: 30px;
	margin-bottom: 25px;
}

/* Countdown */
.countdown-row {
	display: block;
	text-align: center;
}

.countdown-section {
	border-left: 1px dotted #dadada;
	border-color: rgba(218,218,218,0.8);
	color: #dadada;
	display: inline-block;
	font-size: 12px;
	letter-spacing: 1px;
	padding: 42px 12px 28px;
	text-align: center;
	text-transform: uppercase;
	width: 25%;
	-webkit-box-sizing:	border-box;
	-moz-box-sizing:	border-box;
	box-sizing:			border-box;
}

.countdown-section:first-child {	
	border-left: 0;
}

.countdown-amount {
	color: #fff;
	display: block;
	font-family: 'Oswald', sans-serif;
	font-size: 60px;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 1;
	padding-bottom: 21px;
}

/* Newsletter */
#newsletter {
	margin: 0 auto;
	max-width: 588px;	
}

#newsletter-form {
	position: relative;
}

#newsletter-form .form-field {
	margin-right: 180px;
}

#newsletter-form .form-submit {
	height: 42px;
	position: absolute;
	right: 0;
	top: 0;
	width: 180px;
}

#newsletter_email,
#newsletter_submit {
	display: block;
	height: 42px;
	width: 100%;
}

#newsletter_email {
	border-right: 0;
}

/* Social */
.social {
	margin: 28px 0;
}

.social ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.social li {
	display: inline-block;
	margin: 4px;
}

/* Modal toggle */
#main .modal-toggle {
	bottom: 42px;
	height: 42px;
	left: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}

.modal-note {
	color: #dadada;
	display: block;
	font-size: 12px;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
}

/* Modal page: About Us
-------------------------------------------------*/
/* Modal toggle */
#modal .modal-toggle {
	margin-bottom: 42px;
	text-align: center;
}

/* No JS
-------------------------------------------------*/
.no-js #timer,
.no-js .modal-toggle,
.no-js #preload,
.no-js #bg-video-controls {
	display: none;
}


/*aweber form css*/
#af-form-719862157 .af-body .af-textWrap{width:100%;display:block;float:none;}
#af-form-719862157 .af-body a{color:#CCCCCC;text-decoration:underline;font-style:normal;font-weight:normal;}
#af-form-719862157 .af-body input.text, #af-form-719862157 .af-body textarea{background-color:rgba(169,169,169,0.3);border-color:#6e6e6e;border-width:1px;border-style:solid;color:#FFF;text-decoration:none;font-style:normal;font-weight:normal;font-size:18px;font-family:Trebuchet MS, sans-serif; height:45px;}
#af-form-719862157 .af-body input.text:focus, #af-form-719862157 .af-body textarea:focus{background-color:rgba(169,169,169,0.4);border-color:#6e6e6e;border-width:1px;border-style:solid;}
#af-form-719862157 .af-body label.previewLabel{display:block;float:none;text-align:left;width:auto;color:#CCCCCC;text-decoration:none;font-style:normal;font-weight:normal;font-size:24px;font-family:Helvetica, sans-serif;}
#af-form-719862157 .af-body{padding-bottom:30px;padding-top:30px;background-repeat:no-repeat;background-position:inherit;background-image:none;color:#CCCCCC;font-size:11px;font-family:Verdana, sans-serif;}
#af-form-719862157 .af-footer{padding-right:15px;padding-left:15px;background-color:#FFFFFF;background-repeat:no-repeat;background-position:top left;background-image:none;border-width:1px;border-bottom-style:none;border-left-style:none;border-right-style:none;border-top-style:none;color:#CCCCCC;font-size:12px;font-family:Verdana, sans-serif;}
#af-form-719862157 .af-header{padding-bottom:9px;padding-top:9px;padding-right:10px;padding-left:10px;background-color:#FFFFFF;background-repeat:no-repeat;background-position:inherit;background-image:none;border-width:1px;border-bottom-style:none;border-left-style:none;border-right-style:none;border-top-style:none;color:#CCCCCC;font-size:16px;font-family:Verdana, sans-serif;}
#af-form-719862157 .af-quirksMode .bodyText{padding-top:2px;padding-bottom:2px;}
#af-form-719862157 .af-quirksMode{padding-right:60px;padding-left:60px;}
#af-form-719862157 .af-standards .af-element{padding-right:0;padding-left:0; float:left;}
#af-form-719862157 .bodyText p{margin:1em 0;}
#af-form-719862157 .buttonContainer input.submit{background-color:#0479c2;background-image:url("http://aweber.com/images/forms/plain/buttons/grey.png");color:#FFFFFF;text-decoration:none;font-style:normal;font-weight:normal;font-size:24px;font-family:Helvetica, sans-serif;}
#af-form-719862157 .buttonContainer input.submit{width:auto;}
#af-form-719862157 .buttonContainer{text-align:center;}
#af-form-719862157 body,#af-form-719862157 dl,#af-form-719862157 dt,#af-form-719862157 dd,#af-form-719862157 h1,#af-form-719862157 h2,#af-form-719862157 h3,#af-form-719862157 h4,#af-form-719862157 h5,#af-form-719862157 h6,#af-form-719862157 pre,#af-form-719862157 code,#af-form-719862157 fieldset,#af-form-719862157 legend,#af-form-719862157 blockquote,#af-form-719862157 th,#af-form-719862157 td{float:none;color:inherit;position:static;margin:0;padding:0;}
#af-form-719862157 button,#af-form-719862157 input,#af-form-719862157 submit,#af-form-719862157 textarea,#af-form-719862157 select,#af-form-719862157 label,#af-form-719862157 optgroup,#af-form-719862157 option{float:none;position:static;margin:0;}
#af-form-719862157 div{margin:0;}
#af-form-719862157 fieldset{border:0;}
#af-form-719862157 form,#af-form-719862157 textarea,.af-form-wrapper,.af-form-close-button,#af-form-719862157 img{float:none;color:inherit;position:static;background-color:none;border:none;margin:0;padding:0;}
#af-form-719862157 input,#af-form-719862157 button,#af-form-719862157 textarea,#af-form-719862157 select{font-size:100%;}
#af-form-719862157 p{color:inherit;}
#af-form-719862157 select,#af-form-719862157 label,#af-form-719862157 optgroup,#af-form-719862157 option{padding:0;}
#af-form-719862157 table{border-collapse:collapse;border-spacing:0;}
#af-form-719862157 ul,#af-form-719862157 ol{list-style-image:none;list-style-position:outside;list-style-type:disc;padding-left:40px;}
#af-form-719862157,#af-form-719862157 .quirksMode{width:100%;/*max-width:418px;*/}
#af-form-719862157.af-quirksMode{overflow-x:hidden;}
#af-form-719862157{/*background-color:#FFFFFF;border-color:#CFCFCF;border-width:1px;border-style:none;*/}
#af-form-719862157{display:block;}
#af-form-719862157{overflow:hidden;}
.af-body .af-textWrap{text-align:left;}
.af-body input.image{border:none!important;}
.af-body input.submit,.af-body input.image,.af-form .af-element input.button{float:none!important;}
.af-body input.text{width:100%;float:none;padding:2px!important;}
.af-body.af-standards input.submit{padding:4px 12px;}
.af-clear{clear:both;}
.af-element label{text-align:left;display:block;float:left;}
.af-element{padding:5px 0;}
.af-form-wrapper{text-indent:0;}
.af-form{text-align:left;margin:auto;}
.af-header,.af-footer{margin-bottom:0;margin-top:0;padding:10px;}
.af-quirksMode .af-element{padding-left:0!important;padding-right:0!important;}
.lbl-right .af-element label{text-align:right;}
#af-form-719862157 .af-body input.image{background-color:#9bca3e;border-color:#9bca3e;border-width:1px;border-style:solid;color:#fff;text-decoration:none;font-style:normal;font-weight:normal;font-size:16px;font-family:Trebuchet MS, sans-serif; width:100%; height: 45px;}
.af-element.width75{width:75%;}
.af-element.width25{width:25%;}


#video_background{
	position: absolute; 
	bottom: 0px; 
	right: 0px;
	min-width: 100%; 
	min-height: 100%; 
	width: auto;
	height: auto; 
	z-index: -1000; 
	overflow: hidden;
	}
	
	.controls {
display: none;
}
.sidedock{
display:none;
}
.tc{text-align:center;}

/* Media Queries
-------------------------------------------------*/
@media only screen and (max-width: 680px) {
	h1 {
		font-size: 36px;
	}
	.countdown-amount {
		font-size: 48px;
	}
}

@media only screen and (max-width: 540px) {
	.one-half {
		width: 100%;
	}	
}

@media only screen and (max-width: 480px) {
	h1 {
		font-size: 30px;
	}
	.countdown-section {
		padding: 28px 6px 28px;
	}
	.countdown-amount {
		font-size: 42px;
	}
	#newsletter-form .form-field {
		margin: 0 0 14px;
	}
	#newsletter-form .form-submit {
		margin: 0 auto;
		position: static;
		right: auto;
		top: auto;
	}
}

@media only screen and (max-width: 360px) {
	.countdown-section {
		font-size: 10px;
		padding: 21px 6px;
	}
	.countdown-amount {
		font-size: 36px;
	}
}