@charset "utf-8";
/* CSS Document */
/*======| FutureProfilez.com irfan|=====*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{outline:none;margin:0;padding:0}li,ol,ul{list-style:none}header,nav,article,footer,address,section{display:block;margin:0;padding:0}img,a,input{border:none}table{border:none;border-collapse:collapse}.cls{clear:both}.fl{float:left}.fr{float:right}.tr{text-align:right}.tj{text-align:justify}.tc{text-align:center}.tl{text-align:left}img{max-width:100%}
body{ background:#fff; color:#333; font-size:12px; line-height:18px;font-family: 'Open Sans', sans-serif;}
.container{ margin:auto; width:100%; padding:0 100px;box-sizing: border-box;}
header{ padding:15px 0; border-bottom:1px solid #cccccc}
a.logintext{float:right;color:#2BC42D;text-decoration:none;margin-top:10px}
.video-container{height:0;margin:0 auto;overflow:hidden;padding-bottom:43%;position:relative;width:100%}
.video-container iframe,.video-container object,.video-container embed{height:100%;left:0;position:absolute;top:0;width:100%}
section#video_sec{position:relative}
section#video_sec .container{position:absolute;left:0;right:0;top:0;bottom:0}
section#video_sec h1{font:900 70px/normal LuloCleanW01-OneBold;color:#fff;margin-top:95px;margin-bottom:10px;text-align:center;letter-spacing:12px}
section#video_sec p{background:rgba(0,0,0,0.29);float:left;font-size:20px;line-height:normal;color:#BADA55;padding:8px 15px 10px;font-weight:300;margin-bottom:40px}
section#video_sec span{text-align:center;display:inline-block;margin:0 0 10px;text-align:center;display:inline-block;margin:20px 0 0 0;width:100%}
section#video_sec span a.logintext{background-color:transparent;border:solid rgba(186,218,85,1) 3px;line-height:38px;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;transition:all .4s ease-in-out;color:#BADA55;display:inline-block;padding:0 25px;border-radius:5px;float:none;font-size:15px;margin-top:20px}
section#video_sec a.logintext:hover{border-color:rgba(156,156,49,1);color:#9C9C31}
section#logos_sec{background:#f7f7f7;padding:10px 0 5px;border-bottom:1px solid #ccc;text-align:center}
section#logos_sec .container{padding:0}
#mc_embed_signup{background:none!important}
.input_box_video{position:absolute;top:14px;right:43px}
#mc_embed_signup .mc-field-group input{height:84px;background:transparent!important;color:#fff!important;border-color:#fff!important;font-style:italic;font-size:30px;box-sizing:border-box;padding-right:355px!important}
#mc_embed_signup .mc-field-group input::-webkit-input-placeholder{color:#fff!important}
#mc_embed_signup .mc-field-group :input-moz-placeholder{color:#fff!important;opacity:1}
::-moz-placeholder{color:#fff!important;opacity:1}
:-ms-input-placeholder{color:#fff!important}
:placeholder-shown{color:#fff}
#mc_embed_signup .button{background:rgba(43,196,45,0.82)!important;padding:24px 30px!important;margin:0!important;height:auto!important;width:auto!important;line-height:normal!important;font-weight:700!important;font-size:24px!important;text-transform:uppercase;transition:border-color .4s ease 0s,background-color .4s ease 0}
#mc_embed_signup .button:hover{transition:border-color .4s ease 0s,background-color .4s ease 0;background-color:rgba(186,218,85,1)!important}
#mc_embed_signup div#mce-responses{margin:inherit!important}
div#mce-success-response{padding-top:0!important;margin-top:0!important}
#mc_embed_signup #mce-error-response{display:none;padding-top:0!important;margin-top:0!important}

@media (max-width:1199px) {
section#video_sec h1 {
    font: 700 50px/normal LuloCleanW01-OneBold;
    margin-top: 50px;
    letter-spacing: 10px;
}
}
@media (max-width:991px) {
section#video_sec h1 {
    font: 400 40px/45px LuloCleanW01-OneBold;
    margin-top: 40px;
    letter-spacing: 5px;
    margin-bottom: 0;
}
}
@media (max-width:767px) {
section#video_sec .container {
    padding: 0;
}
.video-container {
    padding-bottom: 45%;
}
section#video_sec h1 {
    font: 400 30px/36px LuloCleanW01-OneBold;
    margin-top: 10px;
    letter-spacing: 5px;
    margin-bottom: 0;
}
section#video_sec span {
    margin: 10px 0 0 0;
}
section#video_sec span a.logintext {
    margin-top: 0;
}
}
@media (max-width:480px) {
section#video_sec h1 {
    font: 400 18px/23px LuloCleanW01-OneBold;
    margin-top: 10px;
    letter-spacing: 1px;
    margin-bottom: 0;
}
section#video_sec span {
    margin: 5px 0 0 0;
}
section#video_sec span img {
    width: 50px;
}
section#video_sec span a.logintext {
    margin-top: 0;
    font-size: 14px;
    line-height: 30px;
    padding: 0 10px;
    border-width: 1px;
}
}