/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/



#page-wrap { 
}




h1 {
	font-size: 32px;
	font-family: "Helvetica Neue", Sans-Serif;
	font-stretch: condensed;
	text-transform: uppercase;
}

h1 span {
  display: inline-block;
  padding: 10px 20px;
  background: black;
	border: 2px solid white;
  color: white;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 0 7px black;
}