/*
Theme Name: blogcoin

Author: Futureprofilez Team
Description: Custom theme for wordpress
Version: 1.0
Text Domain: http://blog.proyectocoin.com/
*/

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 10px 118px 7px 10px;
    font-size: 16px;
}
footer .mid-foot li {
    display: inline-block;
}
.list-inline li {
    display: inline-block;
}

form.wpcf7-form input[type=text],form.wpcf7-form input[type=email] {
    width: 70%;
    padding: 5px 10px;
    height: 40px;
    border: 1px solid #ccc;
}
form.wpcf7-form textarea{ width:100%; padding: 5px 10px; height: 150px;border: 1px solid #ccc;}
form.wpcf7-form input.wpcf7-captchar {
    width: 30%;
}
form.wpcf7-form input.wpcf7-submit {
    background-color: #fad84b;
    border: 1px solid #ccc;
    padding: 7px 30px;
    font-weight: 500;
    -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
form.wpcf7-form input.wpcf7-submit:hover{ background-color: #CCC;}
img.wpcf7-captcha-captcha-1 {
    border: 1px solid #ccc;
    padding: 0;
    height: 40px;
    margin: 0;
    width: 90px;
}
