.slide-out-div{background:#3aadee;border-radius:5px 0 0 5px;height:auto!important;padding:12px;width:350px}
.tab_inner{background:#fff;padding:10px;width:327px}
.tab_inner .wufoo .info h2{color:#fff}
.tab_inner a{top:65px!important}
.tab_inner h3{color:#585555;font-family:'Exo 2';font-size:19px}
.tab_inner input[type="text"],textarea{background:none repeat scroll 0 0 #FFF;box-shadow:none;height:auto;padding:8px 5px;width:94%;border:1px solid #dad9d9;font-family:Conv_ProximaNova-Light;font-size:14px;font-weight:400}
.tab_inner textarea{padding:8px 0 0 5px;height:100px;width:95.4%}
.tab_inner input[type="submit"]{background:#fd9a00;background:-moz-linear-gradient(top,#fd9a00 0%,#df6f01 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fd9a00),color-stop(100%,#df6f01));background:-webkit-linear-gradient(top,#fd9a00 0%,#df6f01 100%);background:-o-linear-gradient(top,#fd9a00 0%,#df6f01 100%);background:-ms-linear-gradient(top,#fd9a00 0%,#df6f01 100%);background:linear-gradient(to bottom,#fd9a00 0%,#df6f01 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fd9a00',endColorstr='#df6f01',GradientType=0);border:1px solid #D86B00;border-radius:3px;box-shadow:none;color:#FFF;cursor:pointer;font-family:Conv_ProximaNova-Light;font-size:18px;overflow:hidden;padding:6px 20px}
.tab_inner input[type="submit"]:hover{background:#df6f01;background:-moz-linear-gradient(top,#df6f01 0%,#fd9a00 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#df6f01),color-stop(100%,#fd9a00));background:-webkit-linear-gradient(top,#df6f01 0%,#fd9a00 100%);background:-o-linear-gradient(top,#df6f01 0%,#fd9a00 100%);background:-ms-linear-gradient(top,#df6f01 0%,#fd9a00 100%);background:linear-gradient(to bottom,#df6f01 0%,#fd9a00 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#df6f01',endColorstr='#fd9a00',GradientType=0)}
.inner .left_part h4{margin-bottom:10px}
.boxes .rightbox ul li a{color:#0a0a0a}
.boxes .rightbox ul li a:hover{color:#08c}
.span12.tc.coming{min-height:670px;padding-top:200px}
.span12.tc.coming h1{color:#605E5E;font-size:32px;font-family:'open_sansregular';padding-top:20px}
header.comprar{padding:13px 0;text-align:center;background:#fff;box-shadow:0 0 5px rgba(0,0,0,.6)}
section#comprar_page{font-family:'open_sansregular';color:#605E5E}
.comprar_top_part{padding:13px 0}
.comprar_top_part h4{font-size:16px;color:rgba(160,160,159,1);font-weight:400;display:inline-block;padding:0 0 0 6px;vertical-align:sub;margin:0;line-height:normal}
.comprar_top_part h2{font-size:20px;color:#605E5E;font-family:'open_sansregular';font-weight:300;display:inline-block;padding:0 0 0 5px;vertical-align:sub;margin:0;line-height:normal}
.white_wrapper{background:#fff;padding:20px;box-shadow:0 0 5px rgba(0,0,0,.3);float:left;width:100%;margin-bottom:20px;box-sizing:border-box}
.white_wrapper .span3 h1{font-size:25px;text-align:left;font-weight:400;line-height:normal;margin:0}
.white_wrapper .span3 h5{font-size:13px;font-weight:400;margin:0}
a.Acceso_Coin{background:#39a7e9;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top,rgba(57,167,233,1) 0%,rgba(25,133,212,1) 100%);background:-webkit-linear-gradient(top,rgba(57,167,233,1) 0%,rgba(25,133,212,1) 100%);background:linear-gradient(to bottom,rgba(57,167,233,1) 0%,rgba(25,133,212,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#39a7e9',endColorstr='#1985d4',GradientType=0);display:inline-block;color:#fff;font-size:12px;font-weight:600;font-style:italic;padding:2px 30px;border-radius:4px;font-family:Arial,Helvetica,sans-serif;text-align:center;margin:0 0 0 25px}
p.dicen{text-align:center;font-size:15px;font-weight:600;margin:40px 0 30px}
.white_wrapper .span3 .thumbnail.adjust1{float:left;width:100%;padding:0;border:none;box-shadow:none;margin-bottom:10px}
.white_wrapper .span3 .thumbnail.adjust1 img.media-object.img-responsive{border-radius:50%;margin-top:13px}
.thumbnail .caption{padding:0 0 0 10px;color:#555}
.thumbnail .caption p{font-size:11px;line-height:normal}
p.text-info.lead.adjust2{font-size:15px;color:rgba(0,136,203,1);font-weight:700;line-height:normal;margin-bottom:5px}
img.comprar-star{margin:4px 0}
.top-right-text img{display:inline-block;vertical-align:sub;margin-left:8px}
.top-right-text p{display:inline-block;font-weight:600}
.top-right-text{text-align:right;float:left;width:100%;margin-bottom:50px}
.co_part{float:left;width:100%}
.co_part h4{font-weight:300}
.grayish{background:#f6f6f6;padding:15px;float:left;width:100%;box-sizing:border-box;margin-top:10px}
.grayish h4{font-weight:600;font-size:13px;font-family:arial;margin-top:0}
.screenshotz{text-align:center}
.screenshotz img{width:100%}
.logos-part{float:left;width:100%;text-align:center;margin-top:30px;color:#41BAAE}
.comprar_producto_part h4{font-size:15px;font-weight:700;font-family:Arial,Helvetica,sans-serif}
.comprar_producto_part th{padding:10px 5px}
.comprar_producto_part td{padding:10px 5px;text-align:center}
.comprar_producto_part tr td:nth-child(3){text-align:left}
.comprar_producto_part td del{color:rgba(237,28,36,1)}
.comprar_total_part .span3 h1{text-align:center;font-size:33px}
.row-fluid.comprar_total_part{border-bottom:1px solid #d5d5d5;padding-bottom:10px;margin-bottom:10px}
.checkboxes{color:#000;font-weight:600;font-size:11px;margin-bottom:10px}
.checkboxes input[type="checkbox"]{float:left;margin:3px 4px 0 0}
.row-fluid.comprar_Payment_part .main-co{padding:0 100px}
.ENVIAR{text-align:center;margin:15px 0 30px;display:inline-block;width:90%}
.yellow-box-copmpar{background:#fcfecd;padding:20px;width:60%;margin:auto;font-size:14px}
.yellow-box-copmpar h5{font-size:15px;color:#DE5021;font-weight:700;font-family:Arial,Helvetica,sans-serif}
div#producto_part{display:inline-block}
.input-prepend.irf span.add-on{border-radius:0;padding:0;background:none;border:none;position:absolute;left:6px;top:8px;z-index:9;color:#999}
.input-prepend.irf input[type="text"]{background:none;box-shadow:none;border-radius:20px;padding-left:25px}
.text-left.autoscroll{height:235px}
.profile_images .leftbut a{padding:3px 10px 7px}
header.inicio-video{padding:13px 0;text-align:center;background:#fff;box-shadow:0 0 20px rgba(0,0,0,.6);position:relative;z-index:9999}
section#top_video{background:#fff;padding:30px 0;float:left;width:100%}
.embed-responsive{position:relative;display:block;height:0;padding:0;overflow:hidden}
.embed-responsive-16by9{padding-bottom:56.25%}
.embed-responsive .embed-responsive-item,.embed-responsive embed,.embed-responsive iframe,.embed-responsive object,.embed-responsive video{position:absolute;top:0;bottom:0;left:0;width:100%;height:100%;border:0}
#top_video .embed-responsive.embed-responsive-16by9_new{width:590px;margin:auto;padding-bottom:380px;border:none}
#top_video .embed-responsive.embed-responsive-16by9{width:660px;margin:auto;padding-bottom:380px;border:none}
#counter{width:auto;height:auto;float:right}
.counter_item{width:25px;height:26px;background-color:transparent;overflow:hidden;float:left}
.counter_item .digit,.counter_item .front{width:25px;height:25px;overflow:hidden;background-size:15px!important}
.counter_item .front{background:none;position:absolute;z-index:10}
.counter_item .digit_colon{background:transparent url(../images/counter_digits.png) no-repeat 0 0}
.counter_item .digit0{background:transparent url(../images/counter_digits.png) no-repeat 3px -28px}
.counter_item .digit1{background:transparent url(../images/counter_digits.png) no-repeat 3px -56px}
.counter_item .digit2{background:transparent url(../images/counter_digits.png) no-repeat 3px -84px}
.counter_item .digit3{background:transparent url(../images/counter_digits.png) no-repeat 3px -112px}
.counter_item .digit4{background:transparent url(../images/counter_digits.png) no-repeat 3px -140px}
.counter_item .digit5{background:transparent url(../images/counter_digits.png) no-repeat 3px -167px}
.counter_item .digit6{background:transparent url(../images/counter_digits.png) no-repeat 3px -194px}
.counter_item .digit7{background:transparent url(../images/counter_digits.png) no-repeat 3px -222px}
.counter_item .digit8{background:transparent url(../images/counter_digits.png) no-repeat 3px -250px}
.counter_item .digit9{background:transparent url(../images/counter_digits.png) no-repeat 3px -277px}
.counter_item .digit_cherry{background:transparent url(../images/counter_digits.png) no-repeat 3px -398px}
.timer_sec{position:relative;width:657px;margin:auto;display:block;padding-right:20px}
.timer_sec span{float:left;color:#30BDFF;font-size:16px;margin:8px 12px 0 0;}
div#counter_item2{margin-right:5px}
.inicio-video-page .logos-part{margin-top:0}
.inicio-video-page .logos-part span.comprar-right-icon,.inicio-video-page .logos-part p,.inicio-video-page .logos-part span.comprar-logos-image{display:inline-block;font-size:15px}
#content-6.horizontal-images.content ul{margin-left:10px;margin-right:10px}
.horizontal-images.content li{margin:0 3px;float:left;list-style-type:none}
.horizontal-images.content li:first-child{margin-left:0}
#content-6.horizontal-images.content li img{width:675px;height:auto}
#content-6 .mCS-light-3.mCSB_scrollTools .mCSB_draggerRail{background-color:#f5f6f5;box-shadow:inset 0 0 1px rgba(0,0,0,.3)}
#content-6 .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background:#bac8d6;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JhYzhkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2U4ZjhmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYWM4ZDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top,rgba(186,200,214,1) 0%,rgba(232,248,254,1) 50%,rgba(186,200,214,1) 100%);background:-webkit-linear-gradient(top,rgba(186,200,214,1) 0%,rgba(232,248,254,1) 50%,rgba(186,200,214,1) 100%);background:linear-gradient(to bottom,rgba(186,200,214,1) 0%,rgba(232,248,254,1) 50%,rgba(186,200,214,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bac8d6',endColorstr='#bac8d6',GradientType=0)}
.guarantee_part{margin-top:30px;float:left;width:100%;font-size:15px;line-height:22px}
.guarantee_part img{float:left;width:100px}
footer.inicio-video-foot{position:static;background:#f7f7f7;border-top:1px solid #ddd;padding:50px 0 40px;text-align:center;height:auto}
footer.inicio-video-foot p{text-align:justify;margin-bottom:40px}
footer.inicio-video-foot a{color:#4d4d4d;text-decoration:none}
footer.inicio-video-foot a:hover{color:#3a87ad}
.timer_sec span a{background: #ff5a5f;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    border: none;
    border-bottom: 4px solid #ec787b;
    display: inline-block;
    color: #fff;
    width: auto;
    text-align: center;
    font: 400 17px/40px 'Open Sans',sans-serif;
    border-radius: 0;
    margin: 0;
    float: none;
	    padding: 0 25px;}
	.timer_sec span a:hover{background: #ec787b;}
.timer_sec span{margin-top:0}
.timer_sec span h4 {
    font-size: 14px;
    width: 150px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    color: #605E5E;
    margin: 4px 0 0 96px;
    font-weight: 400;
}
section#top_video.inicio-go{border-bottom:1px dashed #ccc}
.inicio-go-page .white_wrapper{box-shadow:none;border:1px solid #eee}
.inicio-go-page .white_wrapper .main-co{padding:20px 40px 0}
input.fully{width:79%!important;margin-left:20px!important}
input.halfly{display:inline-block;width:36%!important;margin:0 20px 15px!important}
.mCustomScrollBox{height:auto!important}
.inicio-go-page .white_wrapper .checkboxes{font-size:13px}
.inicio-go-page .white_wrapper .span4{border-left:1px solid #eee;padding-left:20px}
.inicio-go-page .white_wrapper .span4 table{font-size:12px}
.inicio-go-page .white_wrapper .span4 table th{white-space:nowrap}
.inicio-go-page .white_wrapper .span4 table td{padding:10px 2px}
.inicio-go-page .white_wrapper .comprar_total_part h1{font-size:45px;color:#bfdd82;font-weight:700;font-family:Arial,Helvetica,sans-serif;text-align:left}
.inicio-go-page .white_wrapper .comprar_total_part h1 sup{font-size:12px;top:-2.2em;left:5px}
.inicio-go-page .white_wrapper .span4 .yellow-box-copmpar{width:100%;padding:0;background:none;font-size:13px;margin-top:20px}
.inicio-go-page .white_wrapper .span4 .yellow-box-copmpar>img{float:left;width:68px;margin:0 10px 10px 0}
.inicio-go-page .white_wrapper .span4 .yellow-box-copmpar h5{float:left;width:70%;margin:5px 0 20px;font-size:14px}
.inicio-go-page .white_wrapper .span4 .yellow-box-copmpar p{width:100%;float:left}
.bg_change{display:inline-block;height:448px;position:absolute;top:60px;width:100%;background-size: 100% 100%!important;}
p.green_text{margin:0;text-align:center;color:#5DEB45;font-size:19px;font-weight:300;padding:20px 0;font-family:'Open Sans',sans-serif}
.login-video.new_design .container{border:1px solid #ececec;padding:25px 15px;box-sizing:border-box;-webkit-box-shadow:0 10px 6px -6px rgba(0,0,0,0.3);-moz-box-shadow:0 10px 6px -6px rgba(0,0,0,0.3);box-shadow:0 10px 6px -6px rgba(0,0,0,0.3)}
.login-video.new_design p.grey-text.ft22{font-size:20px;font-weight:300;font-family:'Open Sans',sans-serif;color:#605E5E;margin-bottom:30px}
.span12.step.posi_rela{border-bottom:1px solid #ececec}
.login-video.new_design p.grey-text.ft18.width310{font-style:normal;font-size:20px;font-weight:300;font-family:'Open Sans',sans-serif;color:#605E5E}
.login-video.new_design p.grey-text.ft18.width310 span{color:#08c;font-weight:300;font-family:'Open Sans',sans-serif}
.login-video.new_design .input_field.staepthird input[type=text],.login-video.new_design .input_field.staepthird input[type=password]{border:1px solid #ddd;box-shadow:none;border-radius:5px;margin-bottom:5px;height:35px;font-weight:400;font-size:16px;background:#fff;width:80%;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%);background:-webkit-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%);background:linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f2f2f2',GradientType=0)}
.login-video.new_design .input_field.staepthird i{color:#A0A09F;display:block}
.login-video.new_design .PdTop20.comenzar.staepthird{padding-top:40px}
.counter_item .digit_cherry{margin-top:13px!important}
#counter_item5.counter_item .digit_cherry{margin-top:-4px!important}
#getTerms .modal-body,#getPolicy .modal-body,#getRefund .modal-body,#getAffiliate .modal-body{height:450px; overflow-y:scroll}

#getTerms .close {
    opacity: 1;
    position: absolute;
    right: -19px;
    top: -22px;
    z-index: 1051;
}
#getPolicy .close {
    opacity: 1;
    position: absolute;
    right: -19px;
    top: -22px;
    z-index: 1051;
}
#getRefund .close {
    opacity: 1;
    position: absolute;
    right: -19px;
    top: -22px;
    z-index: 1051;
}
#getAffiliate .close {
    opacity: 1;
    position: absolute;
    right: -19px;
    top: -22px;
    z-index: 1051;
}

.span12.heading.no_margin h1 {
    margin-top: -15px;
}
.info-follow span.profile_name {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background: none;
    font-weight: bold;
    padding-right: 0px;
}
div#accordion2 {
    border-top: 1px solid #e5e5e5;
}
.inner h2.ir-h2 {
    display: inline-block;
    float: none;
    width: auto;
    font: 300 25px/normal 'Open Sans',sans-serif;
    margin: 0;
    line-height: normal;
    position: relative;
    top: 10px;
    left: -10px;
    color: #676565;
}
form#complete_goal {
    min-height: 360px;
	position:relative
}
form#complete_goal button.btn.btn-warning.MarT201 {
    position: absolute;
    bottom: 10px;
    left: 0;
}
.right_part.tutorials {
    position: relative;
}
div#program_lock.klc_page {
    top: 112px;
	z-index: 999;
}

/*----1-6-16--*/
.profile_img-bg {
background: -moz-linear-gradient(268deg, rgba(255,255,255,1)8 0%, rgba(240,240,240,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(240,240,240,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(268deg, rgba(255,255,255,1) 80%, rgba(240,240,240,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(268deg, rgba(255,255,255,1) 80%, rgba(240,240,240,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(268deg, rgba(255,255,255,1) 80%, rgba(240,240,240,1) 100%); /* ie10+ */
background: linear-gradient(182deg, rgba(255,255,255,1) 80%, rgba(240,240,240,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F0F0F0',GradientType=0 ); /* ie6-9 */
    padding: 30px 0;
	position:relative;
}

.profile_img-bg h4 {
    margin: 0;
    text-align: right;
    width: 55%;
    float: left;
	color: #A0A09F;
	margin-top: 60px;
	color: #A0A09F;
	font-family:'Open Sans',sans-serif;
}
img.profile-img-arrow {
    position: absolute;
    top: 37%;
    right: -50px;
}
.profile_images .clear-fix{ clear:both; display:block;}
.header-info-box{
    width: 350px;
	position:absolute;
	top:-15px;
    right:0;
	z-index:9999;
	display:none; 
	box-shadow: -0.67px 0.74px 0px 3px rgba(48,189,255,0.24);
    border-radius: 5px;
}
.info-img-left h5 {
    background: #F12901;
    color: #fff !important;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    margin:0;
    position: absolute;
    top: 15px;
    left:-41px;
    font-size: 14px;
	
}
.header-info-bg {
    background: #F8F8F8;
	padding: 20px 25px 40px;
	position: relative;
    display: block;
	min-height: 663px;
	border-radius: 5px;
	
}
img.header-info-logo {padding: 190px 0 0;}
.header-info-bg h5{color:#207EA9;}
.row-fluid.info-position {
    position: relative;
}
.header-info-bg p {
    background: #fff;
    width: 230px;
    padding: 15px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	font-size: 14px;
	display: inline-block;
    margin-left: 37px;
	border-radius: 4px;
}
.form-search .input-append .search-query, .form-search .input-prepend .search-query {
    color: #41b7fa !important;
}
img.header-info-img {
    height: 58px;
    width: 58px;
    border-radius: 50%;
    position: absolute;
    top: 18px;
    left: 15px;
	border: 1px solid #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
.header-info-bg h5 {
    color:#909090;
    margin-left: 58px;
	font-weight: 300;
}
.header-info-bg button.btn {
    padding: 0px 11px;
    font-size: 13px;
    border: 1px solid #484848;
    background: #fff;
    font-weight: 600;
    color: #808080;
    float: right;
	margin-top: 10px;
}
img.header-info-logo {
    text-align: center;
    display: block;
    margin: auto;
}
.info-whide-bg {
    background: #fff;
    padding:15px;
	border-bottom: 1px solid #CCC;
    border-radius: 5px;
}
.info-whide-bg h5 {
    display: inline-block;
	margin:0;
	color:#69BDF9;
    font-weight: 400;
}
.info-whide-bg .close{font-weight:normal;}
.ganacious-page .table-hover a{color:#4d4d4d; font-family:Arial, Helvetica, sans-serif; font-size: 14px;}
.ganacious-page .table-hover a:hover{text-decoration:underline;}
#welcome_notification_div .modal.fade.in{height: 576px;}
.modal.fade.in .modal-body{max-height:100%; overflow: hidden;}
.row-fluid .span12 .heading {
    font-size: 12px;
	line-height: 18px;
}

/*20.01.2016*/
.boxes ul.miprefil {
    display: inline-block;
    width: 100%;
}

.profile_images ul.miprefil li .relative>span {
    display: none;
    width: 16px;
    height: 16px;
    position: absolute;
    z-index: 999;
    top: -6px;
    right: -8px;
}
.profile_images ul.miprefil li:hover .relative>span{ display:inline-block}
#myModal > form .modal-body {
    height: 420px;
    overflow: auto;
}
#button_span{}

.right_part.tutorials .boxes.round.round1.iunvitar .span6.offset3.MarT20 {
    margin-left: 34%;
}
.comprar_producto_part th{width:auto; padding: 10px 0;}
.inicio-go-page .white_wrapper .span4 table td img { width: auto; max-width: none;}
.a_black a{color:#000;}


#button_span {
    position: relative;
}
img.landing-coin-1.jquery-image {
    left: -41px;
    top: -3px;
}

/* ================/ Mar 19 2016 /===============*/
.profile_img-bg.profile-gray-remove{background:none;}
.suspend_popup .modal-backdrop{background-color:#FFF;}
