.mws-i-24{background-repeat:no-repeat;}
.mws-i-24.i-abacus{background-image:url(../img/icons/24/abacus.png);}
.mws-i-24.i-acces-denied-sign{background-image:url(../img/icons/24/acces-denied-sign.png);}
.mws-i-24.i-address-book-1{background-image:url(../img/icons/24/address-book-1.png);}
.mws-i-24.i-address-book-2{background-image:url(../img/icons/24/address-book-2.png);}
.mws-i-24.i-address-book-3{background-image:url(../img/icons/24/address-book-3.png);}
.mws-i-24.i-address-book-4{background-image:url(../img/icons/24/address-book-4.png);}
.mws-i-24.i-address-book-5{background-image:url(../img/icons/24/address-book-5.png);}
.mws-i-24.i-address-book{background-image:url(../img/icons/24/address-book.png);}
.mws-i-24.i-adidas-sport-shirt{background-image:url(../img/icons/24/adidas-sport-shirt.png);}
.mws-i-24.i-admin-user-2{background-image:url(../img/icons/24/admin-user-2.png);}
.mws-i-24.i-admin-user{background-image:url(../img/icons/24/admin-user.png);}
.mws-i-24.i-airplane{background-image:url(../img/icons/24/airplane.png);}
.mws-i-24.i-alarm-bell-2{background-image:url(../img/icons/24/alarm-bell-2.png);}
.mws-i-24.i-alarm-bell{background-image:url(../img/icons/24/alarm-bell.png);}
.mws-i-24.i-alarm-clock{background-image:url(../img/icons/24/alarm-clock.png);}
.mws-i-24.i-alert-2{background-image:url(../img/icons/24/alert-2.png);}
.mws-i-24.i-alert{background-image:url(../img/icons/24/alert.png);}
.mws-i-24.i-american-express{background-image:url(../img/icons/24/american-express.png);}
.mws-i-24.i-android{background-image:url(../img/icons/24/android.png);}
.mws-i-24.i-apartment-building{background-image:url(../img/icons/24/apartment-building.png);}
.mws-i-24.i-applications{background-image:url(../img/icons/24/applications.png);}
.mws-i-24.i-archive{background-image:url(../img/icons/24/archive.png);}
.mws-i-24.i-arrow-down{background-image:url(../img/icons/24/arrow-down.png);}
.mws-i-24.i-arrow-left{background-image:url(../img/icons/24/arrow-left.png);}
.mws-i-24.i-arrow-right{background-image:url(../img/icons/24/arrow-right.png);}
.mws-i-24.i-arrow-up{background-image:url(../img/icons/24/arrow-up.png);}
.mws-i-24.i-bag-2{background-image:url(../img/icons/24/bag-2.png);}
.mws-i-24.i-bag{background-image:url(../img/icons/24/bag.png);}
.mws-i-24.i-balloons{background-image:url(../img/icons/24/balloons.png);}
.mws-i-24.i-bandaid{background-image:url(../img/icons/24/bandaid.png);}
.mws-i-24.i-bar-graph{background-image:url(../img/icons/24/bar-graph.png);}
.mws-i-24.i-battery-almost-empty{background-image:url(../img/icons/24/battery-almost-empty.png);}
.mws-i-24.i-battery-almost-full{background-image:url(../img/icons/24/battery-almost-full.png);}
.mws-i-24.i-battery-empty{background-image:url(../img/icons/24/battery-empty.png);}
.mws-i-24.i-battery-full{background-image:url(../img/icons/24/battery-full.png);}
.mws-i-24.i-battery{background-image:url(../img/icons/24/battery.png);}
.mws-i-24.i-bended-arrow-down{background-image:url(../img/icons/24/bended-arrow-down.png);}
.mws-i-24.i-bended-arrow-left{background-image:url(../img/icons/24/bended-arrow-left.png);}
.mws-i-24.i-bended-arrow-right{background-image:url(../img/icons/24/bended-arrow-right.png);}
.mws-i-24.i-bended-arrow-up{background-image:url(../img/icons/24/bended-arrow-up.png);}
.mws-i-24.i-big-brush{background-image:url(../img/icons/24/big-brush.png);}
.mws-i-24.i-bills-stack{background-image:url(../img/icons/24/bills-stack.png);}
.mws-i-24.i-blackberry-2{background-image:url(../img/icons/24/blackberry-2.png);}
.mws-i-24.i-blackberry-3{background-image:url(../img/icons/24/blackberry-3.png);}
.mws-i-24.i-blackberry{background-image:url(../img/icons/24/blackberry.png);}
.mws-i-24.i-blocks-images{background-image:url(../img/icons/24/blocks-images.png);}
.mws-i-24.i-blu-ray{background-image:url(../img/icons/24/blu-ray.png);}
.mws-i-24.i-bluetooth-2{background-image:url(../img/icons/24/bluetooth-2.png);}
.mws-i-24.i-bluetooth{background-image:url(../img/icons/24/bluetooth.png);}
.mws-i-24.i-book-bookmark{background-image:url(../img/icons/24/book-bookmark.png);}
.mws-i-24.i-book-large{background-image:url(../img/icons/24/book-large.png);}
.mws-i-24.i-book{background-image:url(../img/icons/24/book.png);}
.mws-i-24.i-bookmark{background-image:url(../img/icons/24/bookmark.png);}
.mws-i-24.i-books-2{background-image:url(../img/icons/24/books-2.png);}
.mws-i-24.i-books{background-image:url(../img/icons/24/books.png);}
.mws-i-24.i-box-incoming-2{background-image:url(../img/icons/24/box-incoming-2.png);}
.mws-i-24.i-box-incoming{background-image:url(../img/icons/24/box-incoming.png);}
.mws-i-24.i-box-outgoing-2{background-image:url(../img/icons/24/box-outgoing-2.png);}
.mws-i-24.i-box-outgoing{background-image:url(../img/icons/24/box-outgoing.png);}
.mws-i-24.i-bulls-eye{background-image:url(../img/icons/24/bulls-eye.png);}
.mws-i-24.i-calculator{background-image:url(../img/icons/24/calculator.png);}
.mws-i-24.i-calendar-today{background-image:url(../img/icons/24/calendar-today.png);}
.mws-i-24.i-camera-2{background-image:url(../img/icons/24/camera-2.png);}
.mws-i-24.i-camera{background-image:url(../img/icons/24/camera.png);}
.mws-i-24.i-candy-cane{background-image:url(../img/icons/24/candy-cane.png);}
.mws-i-24.i-car{background-image:url(../img/icons/24/car.png);}
.mws-i-24.i-cash-register{background-image:url(../img/icons/24/cash-register.png);}
.mws-i-24.i-cassette{background-image:url(../img/icons/24/cassette.png);}
.mws-i-24.i-cat{background-image:url(../img/icons/24/cat.png);}
.mws-i-24.i-cd{background-image:url(../img/icons/24/cd.png);}
.mws-i-24.i-cell-phone-reception{background-image:url(../img/icons/24/cell-phone-reception.png);}
.mws-i-24.i-chair{background-image:url(../img/icons/24/chair.png);}
.mws-i-24.i-chart-2{background-image:url(../img/icons/24/chart-2.png);}
.mws-i-24.i-chart-3{background-image:url(../img/icons/24/chart-3.png);}
.mws-i-24.i-chart-4{background-image:url(../img/icons/24/chart-4.png);}
.mws-i-24.i-chart-5{background-image:url(../img/icons/24/chart-5.png);}
.mws-i-24.i-chart-6{background-image:url(../img/icons/24/chart-6.png);}
.mws-i-24.i-chart-7{background-image:url(../img/icons/24/chart-7.png);}
.mws-i-24.i-chart-8{background-image:url(../img/icons/24/chart-8.png);}
.mws-i-24.i-chart{background-image:url(../img/icons/24/chart.png);}
.mws-i-24.i-check{background-image:url(../img/icons/24/check.png);}
.mws-i-24.i-chemical{background-image:url(../img/icons/24/chemical.png);}
.mws-i-24.i-chrome{background-image:url(../img/icons/24/chrome.png);}
.mws-i-24.i-clapboard{background-image:url(../img/icons/24/clapboard.png);}
.mws-i-24.i-clipboard-1{background-image:url(../img/icons/24/clipboard-1.png);}
.mws-i-24.i-clipboard{background-image:url(../img/icons/24/clipboard.png);}
.mws-i-24.i-clock-1{background-image:url(../img/icons/24/clock-1.png);}
.mws-i-24.i-clock-2{background-image:url(../img/icons/24/clock-2.png);}
.mws-i-24.i-clock{background-image:url(../img/icons/24/clock.png);}
.mws-i-24.i-cloud-download{background-image:url(../img/icons/24/cloud-download.png);}
.mws-i-24.i-cloud-lightning-rain{background-image:url(../img/icons/24/cloud-lightning-rain.png);}
.mws-i-24.i-cloud-lightning{background-image:url(../img/icons/24/cloud-lightning.png);}
.mws-i-24.i-cloud-rain-shining-sun{background-image:url(../img/icons/24/cloud-rain-shining-sun.png);}
.mws-i-24.i-cloud-rain-sun{background-image:url(../img/icons/24/cloud-rain-sun.png);}
.mws-i-24.i-cloud-upload{background-image:url(../img/icons/24/cloud-upload.png);}
.mws-i-24.i-cloud{background-image:url(../img/icons/24/cloud.png);}
.mws-i-24.i-cog-2{background-image:url(../img/icons/24/cog-2.png);}
.mws-i-24.i-cog-3{background-image:url(../img/icons/24/cog-3.png);}
.mws-i-24.i-cog-4{background-image:url(../img/icons/24/cog-4.png);}
.mws-i-24.i-cog-5{background-image:url(../img/icons/24/cog-5.png);}
.mws-i-24.i-cog{background-image:url(../img/icons/24/cog.png);}
.mws-i-24.i-companies{background-image:url(../img/icons/24/companies.png);}
.mws-i-24.i-computer-imac{background-image:url(../img/icons/24/computer-imac.png);}
.mws-i-24.i-coverflow{background-image:url(../img/icons/24/coverflow.png);}
.mws-i-24.i-create{background-image:url(../img/icons/24/create.png);}
.mws-i-24.i-creditcard{background-image:url(../img/icons/24/creditcard.png);}
.mws-i-24.i-cross{background-image:url(../img/icons/24/cross.png);}
.mws-i-24.i-crosshair{background-image:url(../img/icons/24/crosshair.png);}
.mws-i-24.i-cup{background-image:url(../img/icons/24/cup.png);}
.mws-i-24.i-cut-scissors{background-image:url(../img/icons/24/cut-scissors.png);}
.mws-i-24.i-cut{background-image:url(../img/icons/24/cut.png);}
.mws-i-24.i-day-calendar{background-image:url(../img/icons/24/day-calendar.png);}
.mws-i-24.i-delicious{background-image:url(../img/icons/24/delicious.png);}
.mws-i-24.i-digg-2{background-image:url(../img/icons/24/digg-2.png);}
.mws-i-24.i-digg-3{background-image:url(../img/icons/24/digg-3.png);}
.mws-i-24.i-digg-4{background-image:url(../img/icons/24/digg-4.png);}
.mws-i-24.i-digg{background-image:url(../img/icons/24/digg.png);}
.mws-i-24.i-document-1{background-image:url(../img/icons/24/document-1.png);}
.mws-i-24.i-document{background-image:url(../img/icons/24/document.png);}
.mws-i-24.i-documents-1{background-image:url(../img/icons/24/documents-1.png);}
.mws-i-24.i-documents{background-image:url(../img/icons/24/documents.png);}
.mws-i-24.i-dog-tag{background-image:url(../img/icons/24/dog-tag.png);}
.mws-i-24.i-dog-tags{background-image:url(../img/icons/24/dog-tags.png);}
.mws-i-24.i-download-to-computer{background-image:url(../img/icons/24/download-to-computer.png);}
.mws-i-24.i-download{background-image:url(../img/icons/24/download.png);}
.mws-i-24.i-dress{background-image:url(../img/icons/24/dress.png);}
.mws-i-24.i-dribbble-2{background-image:url(../img/icons/24/dribbble-2.png);}
.mws-i-24.i-dribbble-3{background-image:url(../img/icons/24/dribbble-3.png);}
.mws-i-24.i-dribbble-4{background-image:url(../img/icons/24/dribbble-4.png);}
.mws-i-24.i-dribbble{background-image:url(../img/icons/24/dribbble.png);}
.mws-i-24.i-dropbox{background-image:url(../img/icons/24/dropbox.png);}
.mws-i-24.i-drupal{background-image:url(../img/icons/24/drupal.png);}
.mws-i-24.i-dvd{background-image:url(../img/icons/24/dvd.png);}
.mws-i-24.i-eject{background-image:url(../img/icons/24/eject.png);}
.mws-i-24.i-electricity-input-2{background-image:url(../img/icons/24/electricity-input-2.png);}
.mws-i-24.i-electricity-input-plug{background-image:url(../img/icons/24/electricity-input-plug.png);}
.mws-i-24.i-electricity-input{background-image:url(../img/icons/24/electricity-input.png);}
.mws-i-24.i-electricity-plug{background-image:url(../img/icons/24/electricity-plug.png);}
.mws-i-24.i-excel-document{background-image:url(../img/icons/24/excel-document.png);}
.mws-i-24.i-excel-documents-1{background-image:url(../img/icons/24/excel-documents-1.png);}
.mws-i-24.i-excel-documents{background-image:url(../img/icons/24/excel-documents.png);}
.mws-i-24.i-exit{background-image:url(../img/icons/24/exit.png);}
.mws-i-24.i-expose{background-image:url(../img/icons/24/expose.png);}
.mws-i-24.i-expression-engine{background-image:url(../img/icons/24/expression-engine.png);}
.mws-i-24.i-eyedropper{background-image:url(../img/icons/24/eyedropper.png);}
.mws-i-24.i-facebook-1{background-image:url(../img/icons/24/facebook-1.png);}
.mws-i-24.i-facebook-like{background-image:url(../img/icons/24/facebook-like.png);}
.mws-i-24.i-facebook{background-image:url(../img/icons/24/facebook.png);}
.mws-i-24.i-favorite{background-image:url(../img/icons/24/favorite.png);}
.mws-i-24.i-female-contour{background-image:url(../img/icons/24/female-contour.png);}
.mws-i-24.i-female-symbol{background-image:url(../img/icons/24/female-symbol.png);}
.mws-i-24.i-file-cabinet{background-image:url(../img/icons/24/file-cabinet.png);}
.mws-i-24.i-film-2{background-image:url(../img/icons/24/film-2.png);}
.mws-i-24.i-film-camera-2{background-image:url(../img/icons/24/film-camera-2.png);}
.mws-i-24.i-film-camera{background-image:url(../img/icons/24/film-camera.png);}
.mws-i-24.i-film-strip{background-image:url(../img/icons/24/film-strip.png);}
.mws-i-24.i-film{background-image:url(../img/icons/24/film.png);}
.mws-i-24.i-finish-banner{background-image:url(../img/icons/24/finish-banner.png);}
.mws-i-24.i-finish-flag{background-image:url(../img/icons/24/finish-flag.png);}
.mws-i-24.i-firefox{background-image:url(../img/icons/24/firefox.png);}
.mws-i-24.i-flag-2{background-image:url(../img/icons/24/flag-2.png);}
.mws-i-24.i-flag{background-image:url(../img/icons/24/flag.png);}
.mws-i-24.i-flatscreen{background-image:url(../img/icons/24/flatscreen.png);}
.mws-i-24.i-flip-clock{background-image:url(../img/icons/24/flip-clock.png);}
.mws-i-24.i-folder-1{background-image:url(../img/icons/24/folder-1.png);}
.mws-i-24.i-folder{background-image:url(../img/icons/24/folder.png);}
.mws-i-24.i-footprint{background-image:url(../img/icons/24/footprint.png);}
.mws-i-24.i-footprints{background-image:url(../img/icons/24/footprints.png);}
.mws-i-24.i-fountain-pen{background-image:url(../img/icons/24/fountain-pen.png);}
.mws-i-24.i-frames{background-image:url(../img/icons/24/frames.png);}
.mws-i-24.i-g-key{background-image:url(../img/icons/24/g-key.png);}
.mws-i-24.i-glass{background-image:url(../img/icons/24/glass.png);}
.mws-i-24.i-globe-2{background-image:url(../img/icons/24/globe-2.png);}
.mws-i-24.i-globe{background-image:url(../img/icons/24/globe.png);}
.mws-i-24.i-go-back-from-screen-1{background-image:url(../img/icons/24/go-back-from-screen-1.png);}
.mws-i-24.i-go-back-from-screen{background-image:url(../img/icons/24/go-back-from-screen.png);}
.mws-i-24.i-go-full-screen{background-image:url(../img/icons/24/go-full-screen.png);}
.mws-i-24.i-google-buzz{background-image:url(../img/icons/24/google-buzz.png);}
.mws-i-24.i-google-maps{background-image:url(../img/icons/24/google-maps.png);}
.mws-i-24.i-graph-2{background-image:url(../img/icons/24/graph-2.png);}
.mws-i-24.i-graph{background-image:url(../img/icons/24/graph.png);}
.mws-i-24.i-group-2{background-image:url(../img/icons/24/group-2.png);}
.mws-i-24.i-group{background-image:url(../img/icons/24/group.png);}
.mws-i-24.i-halloween-pumpkin{background-image:url(../img/icons/24/halloween-pumpkin.png);}
.mws-i-24.i-hard-disk{background-image:url(../img/icons/24/hard-disk.png);}
.mws-i-24.i-hd-2{background-image:url(../img/icons/24/hd-2.png);}
.mws-i-24.i-hd-3{background-image:url(../img/icons/24/hd-3.png);}
.mws-i-24.i-hd{background-image:url(../img/icons/24/hd.png);}
.mws-i-24.i-headphones{background-image:url(../img/icons/24/headphones.png);}
.mws-i-24.i-heart-favorite{background-image:url(../img/icons/24/heart-favorite.png);}
.mws-i-24.i-help{background-image:url(../img/icons/24/help.png);}
.mws-i-24.i-home-1{background-image:url(../img/icons/24/home-1.png);}
.mws-i-24.i-home-2{background-image:url(../img/icons/24/home-2.png);}
.mws-i-24.i-home{background-image:url(../img/icons/24/home.png);}
.mws-i-24.i-hour-glass{background-image:url(../img/icons/24/hour-glass.png);}
.mws-i-24.i-ice-cream-2{background-image:url(../img/icons/24/ice-cream-2.png);}
.mws-i-24.i-ice-cream{background-image:url(../img/icons/24/ice-cream.png);}
.mws-i-24.i-ichat{background-image:url(../img/icons/24/ichat.png);}
.mws-i-24.i-ideal{background-image:url(../img/icons/24/ideal.png);}
.mws-i-24.i-image-2{background-image:url(../img/icons/24/image-2.png);}
.mws-i-24.i-image{background-image:url(../img/icons/24/image.png);}
.mws-i-24.i-images-2{background-image:url(../img/icons/24/images-2.png);}
.mws-i-24.i-images{background-image:url(../img/icons/24/images.png);}
.mws-i-24.i-inbox{background-image:url(../img/icons/24/inbox.png);}
.mws-i-24.i-info-about{background-image:url(../img/icons/24/info-about.png);}
.mws-i-24.i-ipad-2{background-image:url(../img/icons/24/ipad-2.png);}
.mws-i-24.i-ipad{background-image:url(../img/icons/24/ipad.png);}
.mws-i-24.i-iphone-3g{background-image:url(../img/icons/24/iphone-3g.png);}
.mws-i-24.i-iphone-4-2{background-image:url(../img/icons/24/iphone-4-2.png);}
.mws-i-24.i-iphone-4{background-image:url(../img/icons/24/iphone-4.png);}
.mws-i-24.i-ipod-classic{background-image:url(../img/icons/24/ipod-classic.png);}
.mws-i-24.i-ipod-nano-2{background-image:url(../img/icons/24/ipod-nano-2.png);}
.mws-i-24.i-ipod-nano{background-image:url(../img/icons/24/ipod-nano.png);}
.mws-i-24.i-ipod-shuffle{background-image:url(../img/icons/24/ipod-shuffle.png);}
.mws-i-24.i-joomla{background-image:url(../img/icons/24/joomla.png);}
.mws-i-24.i-key-2{background-image:url(../img/icons/24/key-2.png);}
.mws-i-24.i-key{background-image:url(../img/icons/24/key.png);}
.mws-i-24.i-keyboard{background-image:url(../img/icons/24/keyboard.png);}
.mws-i-24.i-ladys-purse{background-image:url(../img/icons/24/ladys-purse.png);}
.mws-i-24.i-lamp{background-image:url(../img/icons/24/lamp.png);}
.mws-i-24.i-laptop{background-image:url(../img/icons/24/laptop.png);}
.mws-i-24.i-lastfm-2{background-image:url(../img/icons/24/lastfm-2.png);}
.mws-i-24.i-lastfm{background-image:url(../img/icons/24/lastfm.png);}
.mws-i-24.i-leaf{background-image:url(../img/icons/24/leaf.png);}
.mws-i-24.i-lemonade-stand-2{background-image:url(../img/icons/24/lemonade-stand-2.png);}
.mws-i-24.i-lemonade-stand{background-image:url(../img/icons/24/lemonade-stand.png);}
.mws-i-24.i-light-bulb{background-image:url(../img/icons/24/light-bulb.png);}
.mws-i-24.i-link-2{background-image:url(../img/icons/24/link-2.png);}
.mws-i-24.i-link{background-image:url(../img/icons/24/link.png);}
.mws-i-24.i-linux{background-image:url(../img/icons/24/linux.png);}
.mws-i-24.i-list-image{background-image:url(../img/icons/24/list-image.png);}
.mws-i-24.i-list-images{background-image:url(../img/icons/24/list-images.png);}
.mws-i-24.i-list{background-image:url(../img/icons/24/list.png);}
.mws-i-24.i-loading-bar{background-image:url(../img/icons/24/loading-bar.png);}
.mws-i-24.i-lock-locked{background-image:url(../img/icons/24/lock-locked.png);}
.mws-i-24.i-locked-2{background-image:url(../img/icons/24/locked-2.png);}
.mws-i-24.i-locked-folder{background-image:url(../img/icons/24/locked-folder.png);}
.mws-i-24.i-locked{background-image:url(../img/icons/24/locked.png);}
.mws-i-24.i-looking-glass{background-image:url(../img/icons/24/looking-glass.png);}
.mws-i-24.i-macos{background-image:url(../img/icons/24/macos.png);}
.mws-i-24.i-magic-mouse{background-image:url(../img/icons/24/magic-mouse.png);}
.mws-i-24.i-magnifying-glass-2{background-image:url(../img/icons/24/magnifying-glass-2.png);}
.mws-i-24.i-magnifying-glass{background-image:url(../img/icons/24/magnifying-glass.png);}
.mws-i-24.i-mail-2{background-image:url(../img/icons/24/mail-2.png);}
.mws-i-24.i-mail{background-image:url(../img/icons/24/mail.png);}
.mws-i-24.i-male-contour{background-image:url(../img/icons/24/male-contour.png);}
.mws-i-24.i-male-symbol{background-image:url(../img/icons/24/male-symbol.png);}
.mws-i-24.i-map{background-image:url(../img/icons/24/map.png);}
.mws-i-24.i-marker{background-image:url(../img/icons/24/marker.png);}
.mws-i-24.i-mastercard{background-image:url(../img/icons/24/mastercard.png);}
.mws-i-24.i-medical-case{background-image:url(../img/icons/24/medical-case.png);}
.mws-i-24.i-megaphone{background-image:url(../img/icons/24/megaphone.png);}
.mws-i-24.i-message{background-image:url(../img/icons/24/message.png);}
.mws-i-24.i-mickey{background-image:url(../img/icons/24/mickey.png);}
.mws-i-24.i-microphone{background-image:url(../img/icons/24/microphone.png);}
.mws-i-24.i-mighty-mouse{background-image:url(../img/icons/24/mighty-mouse.png);}
.mws-i-24.i-minus{background-image:url(../img/icons/24/minus.png);}
.mws-i-24.i-mobile-phone-2{background-image:url(../img/icons/24/mobile-phone-2.png);}
.mws-i-24.i-mobile-phone{background-image:url(../img/icons/24/mobile-phone.png);}
.mws-i-24.i-mobypicture{background-image:url(../img/icons/24/mobypicture.png);}
.mws-i-24.i-money-2{background-image:url(../img/icons/24/money-2.png);}
.mws-i-24.i-money{background-image:url(../img/icons/24/money.png);}
.mws-i-24.i-monitor{background-image:url(../img/icons/24/monitor.png);}
.mws-i-24.i-month-calendar{background-image:url(../img/icons/24/month-calendar.png);}
.mws-i-24.i-mouse-{background-image:url(../img/icons/24/mouse-.png);}
.mws-i-24.i-mouse-2{background-image:url(../img/icons/24/mouse-2.png);}
.mws-i-24.i-mouseires{background-image:url(../img/icons/24/mouseires.png);}
.mws-i-24.i-multiple-users{background-image:url(../img/icons/24/multiple-users.png);}
.mws-i-24.i-music-folder{background-image:url(../img/icons/24/music-folder.png);}
.mws-i-24.i-music{background-image:url(../img/icons/24/music.png);}
.mws-i-24.i-musical-keyboard{background-image:url(../img/icons/24/musical-keyboard.png);}
.mws-i-24.i-myspace-2{background-image:url(../img/icons/24/myspace-2.png);}
.mws-i-24.i-myspace{background-image:url(../img/icons/24/myspace.png);}
.mws-i-24.i-new-message{background-image:url(../img/icons/24/new-message.png);}
.mws-i-24.i-news{background-image:url(../img/icons/24/news.png);}
.mws-i-24.i-new-releases{background-image:url(../img/icons/24/new-releases.png);}
.mws-i-24.i-next-track{background-image:url(../img/icons/24/next-track.png);}
.mws-i-24.i-nike-sport-shirt{background-image:url(../img/icons/24/nike-sport-shirt.png);}
.mws-i-24.i-note-book{background-image:url(../img/icons/24/note-book.png);}
.mws-i-24.i-off{background-image:url(../img/icons/24/off.png);}
.mws-i-24.i-old-phone{background-image:url(../img/icons/24/old-phone.png);}
.mws-i-24.i-pacman-ghost{background-image:url(../img/icons/24/pacman-ghost.png);}
.mws-i-24.i-pacman{background-image:url(../img/icons/24/pacman.png);}
.mws-i-24.i-paint-brush{background-image:url(../img/icons/24/paint-brush.png);}
.mws-i-24.i-pants{background-image:url(../img/icons/24/pants.png);}
.mws-i-24.i-paperclip{background-image:url(../img/icons/24/paperclip.png);}
.mws-i-24.i-paypal-2{background-image:url(../img/icons/24/paypal-2.png);}
.mws-i-24.i-paypal-3{background-image:url(../img/icons/24/paypal-3.png);}
.mws-i-24.i-paypal-4{background-image:url(../img/icons/24/paypal-4.png);}
.mws-i-24.i-paypal-5{background-image:url(../img/icons/24/paypal-5.png);}
.mws-i-24.i-paypal{background-image:url(../img/icons/24/paypal.png);}
.mws-i-24.i-pdf-document{background-image:url(../img/icons/24/pdf-document.png);}
.mws-i-24.i-pdf-documents-1{background-image:url(../img/icons/24/pdf-documents-1.png);}
.mws-i-24.i-pdf-documents{background-image:url(../img/icons/24/pdf-documents.png);}
.mws-i-24.i-pencil-edit{background-image:url(../img/icons/24/pencil-edit.png);}
.mws-i-24.i-pencil{background-image:url(../img/icons/24/pencil.png);}
.mws-i-24.i-personal-folder-user-folder{background-image:url(../img/icons/24/personal-folder-user-folder.png);}
.mws-i-24.i-phone-2{background-image:url(../img/icons/24/phone-2.png);}
.mws-i-24.i-phone-3{background-image:url(../img/icons/24/phone-3.png);}
.mws-i-24.i-phone-4{background-image:url(../img/icons/24/phone-4.png);}
.mws-i-24.i-phone-hook{background-image:url(../img/icons/24/phone-hook.png);}
.mws-i-24.i-phone{background-image:url(../img/icons/24/phone.png);}
.mws-i-24.i-piggy-bank{background-image:url(../img/icons/24/piggy-bank.png);}
.mws-i-24.i-plane-suitcase{background-image:url(../img/icons/24/plane-suitcase.png);}
.mws-i-24.i-plate-diner{background-image:url(../img/icons/24/plate-diner.png);}
.mws-i-24.i-play{background-image:url(../img/icons/24/play.png);}
.mws-i-24.i-plixi{background-image:url(../img/icons/24/plixi.png);}
.mws-i-24.i-plus{background-image:url(../img/icons/24/plus.png);}
.mws-i-24.i-polaroids{background-image:url(../img/icons/24/polaroids.png);}
.mws-i-24.i-post-card{background-image:url(../img/icons/24/post-card.png);}
.mws-i-24.i-power{background-image:url(../img/icons/24/power.png);}
.mws-i-24.i-powerpoint-document{background-image:url(../img/icons/24/powerpoint-document.png);}
.mws-i-24.i-powerpoint-documents-1{background-image:url(../img/icons/24/powerpoint-documents-1.png);}
.mws-i-24.i-powerpoint-documents{background-image:url(../img/icons/24/powerpoint-documents.png);}
.mws-i-24.i-presentation-1{background-image:url(../img/icons/24/presentation-1.png);}
.mws-i-24.i-presentation{background-image:url(../img/icons/24/presentation.png);}
.mws-i-24.i-preview{background-image:url(../img/icons/24/preview.png);}
.mws-i-24.i-previous-track{background-image:url(../img/icons/24/previous-track.png);}
.mws-i-24.i-price-tag{background-image:url(../img/icons/24/price-tag.png);}
.mws-i-24.i-price-tags{background-image:url(../img/icons/24/price-tags.png);}
.mws-i-24.i-printer{background-image:url(../img/icons/24/printer.png);}
.mws-i-24.i-quicktime-new{background-image:url(../img/icons/24/quicktime-new.png);}
.mws-i-24.i-quicktime{background-image:url(../img/icons/24/quicktime.png);}
.mws-i-24.i-radio-signal{background-image:url(../img/icons/24/radio-signal.png);}
.mws-i-24.i-radio{background-image:url(../img/icons/24/radio.png);}
.mws-i-24.i-rake-and-scoop{background-image:url(../img/icons/24/rake-and-scoop.png);}
.mws-i-24.i-record{background-image:url(../img/icons/24/record.png);}
.mws-i-24.i-recycle-symbol{background-image:url(../img/icons/24/recycle-symbol.png);}
.mws-i-24.i-recycled-bag{background-image:url(../img/icons/24/recycled-bag.png);}
.mws-i-24.i-refresh-2{background-image:url(../img/icons/24/refresh-2.png);}
.mws-i-24.i-refresh-3{background-image:url(../img/icons/24/refresh-3.png);}
.mws-i-24.i-refresh-4{background-image:url(../img/icons/24/refresh-4.png);}
.mws-i-24.i-refresh{background-image:url(../img/icons/24/refresh.png);}
.mws-i-24.i-repeat{background-image:url(../img/icons/24/repeat.png);}
.mws-i-24.i-robot{background-image:url(../img/icons/24/robot.png);}
.mws-i-24.i-rss{background-image:url(../img/icons/24/rss.png);}
.mws-i-24.i-ruler-2{background-image:url(../img/icons/24/ruler-2.png);}
.mws-i-24.i-ruler{background-image:url(../img/icons/24/ruler.png);}
.mws-i-24.i-running-man{background-image:url(../img/icons/24/running-man.png);}
.mws-i-24.i-safari{background-image:url(../img/icons/24/safari.png);}
.mws-i-24.i-save{background-image:url(../img/icons/24/save.png);}
.mws-i-24.i-scan-label-2{background-image:url(../img/icons/24/scan-label-2.png);}
.mws-i-24.i-scan-label-3{background-image:url(../img/icons/24/scan-label-3.png);}
.mws-i-24.i-scan-label{background-image:url(../img/icons/24/scan-label.png);}
.mws-i-24.i-sd-2{background-image:url(../img/icons/24/sd-2.png);}
.mws-i-24.i-sd-3{background-image:url(../img/icons/24/sd-3.png);}
.mws-i-24.i-sd{background-image:url(../img/icons/24/sd.png);}
.mws-i-24.i-settings-1{background-image:url(../img/icons/24/settings-1.png);}
.mws-i-24.i-settings-2{background-image:url(../img/icons/24/settings-2.png);}
.mws-i-24.i-settings{background-image:url(../img/icons/24/settings.png);}
.mws-i-24.i-shades{background-image:url(../img/icons/24/shades.png);}
.mws-i-24.i-shopping-bag{background-image:url(../img/icons/24/shopping-bag.png);}
.mws-i-24.i-shopping-basket-2{background-image:url(../img/icons/24/shopping-basket-2.png);}
.mws-i-24.i-shopping-basket{background-image:url(../img/icons/24/shopping-basket.png);}
.mws-i-24.i-shopping-cart-2{background-image:url(../img/icons/24/shopping-cart-2.png);}
.mws-i-24.i-shopping-cart-3{background-image:url(../img/icons/24/shopping-cart-3.png);}
.mws-i-24.i-shopping-cart-4{background-image:url(../img/icons/24/shopping-cart-4.png);}
.mws-i-24.i-shopping-cart{background-image:url(../img/icons/24/shopping-cart.png);}
.mws-i-24.i-shuffle{background-image:url(../img/icons/24/shuffle.png);}
.mws-i-24.i-sign-post-2{background-image:url(../img/icons/24/sign-post-2.png);}
.mws-i-24.i-sign-post{background-image:url(../img/icons/24/sign-post.png);}
.mws-i-24.i-single-document{background-image:url(../img/icons/24/single-document.png);}
.mws-i-24.i-single-excel-document{background-image:url(../img/icons/24/single-excel-document.png);}
.mws-i-24.i-single-pdf-document{background-image:url(../img/icons/24/single-pdf-document.png);}
.mws-i-24.i-single-powerpoint-document{background-image:url(../img/icons/24/single-powerpoint-document.png);}
.mws-i-24.i-single-user{background-image:url(../img/icons/24/single-user.png);}
.mws-i-24.i-single-word-document{background-image:url(../img/icons/24/single-word-document.png);}
.mws-i-24.i-single-zip-document{background-image:url(../img/icons/24/single-zip-document.png);}
.mws-i-24.i-skype-2{background-image:url(../img/icons/24/skype-2.png);}
.mws-i-24.i-skype{background-image:url(../img/icons/24/skype.png);}
.mws-i-24.i-sleeveless-shirt{background-image:url(../img/icons/24/sleeveless-shirt.png);}
.mws-i-24.i-small-brush{background-image:url(../img/icons/24/small-brush.png);}
.mws-i-24.i-socks{background-image:url(../img/icons/24/socks.png);}
.mws-i-24.i-sound{background-image:url(../img/icons/24/sound.png);}
.mws-i-24.i-speech-bubble-2{background-image:url(../img/icons/24/speech-bubble-2.png);}
.mws-i-24.i-speech-bubble{background-image:url(../img/icons/24/speech-bubble.png);}
.mws-i-24.i-speech-bubbles-1{background-image:url(../img/icons/24/speech-bubbles-1.png);}
.mws-i-24.i-speech-bubbles-2{background-image:url(../img/icons/24/speech-bubbles-2.png);}
.mws-i-24.i-speech-bubbles{background-image:url(../img/icons/24/speech-bubbles.png);}
.mws-i-24.i-sport-shirt{background-image:url(../img/icons/24/sport-shirt.png);}
.mws-i-24.i-sticky-note{background-image:url(../img/icons/24/sticky-note.png);}
.mws-i-24.i-stop{background-image:url(../img/icons/24/stop.png);}
.mws-i-24.i-stopatch{background-image:url(../img/icons/24/stopatch.png);}
.mws-i-24.i-strategy-2{background-image:url(../img/icons/24/strategy-2.png);}
.mws-i-24.i-strategy{background-image:url(../img/icons/24/strategy.png);}
.mws-i-24.i-strike-through-month-calendar{background-image:url(../img/icons/24/strike-through-month-calendar.png);}
.mws-i-24.i-stubleupon{background-image:url(../img/icons/24/stubleupon.png);}
.mws-i-24.i-suitcase-1{background-image:url(../img/icons/24/suitcase-1.png);}
.mws-i-24.i-suitcase-2{background-image:url(../img/icons/24/suitcase-2.png);}
.mws-i-24.i-sweater{background-image:url(../img/icons/24/sweater.png);}
.mws-i-24.i-t-shirt{background-image:url(../img/icons/24/t-shirt.png);}
.mws-i-24.i-table-1{background-image:url(../img/icons/24/table-1.png);}
.mws-i-24.i-table{background-image:url(../img/icons/24/table.png);}
.mws-i-24.i-tag-1{background-image:url(../img/icons/24/tag-1.png);}
.mws-i-24.i-tag{background-image:url(../img/icons/24/tag.png);}
.mws-i-24.i-tags-2{background-image:url(../img/icons/24/tags-2.png);}
.mws-i-24.i-television{background-image:url(../img/icons/24/television.png);}
.mws-i-24.i-text-document{background-image:url(../img/icons/24/text-document.png);}
.mws-i-24.i-text-documents{background-image:url(../img/icons/24/text-documents.png);}
.mws-i-24.i-text-styling-2{background-image:url(../img/icons/24/text-styling-2.png);}
.mws-i-24.i-text-styling-3{background-image:url(../img/icons/24/text-styling-3.png);}
.mws-i-24.i-text-styling{background-image:url(../img/icons/24/text-styling.png);}
.mws-i-24.i-timer{background-image:url(../img/icons/24/timer.png);}
.mws-i-24.i-tools{background-image:url(../img/icons/24/tools.png);}
.mws-i-24.i-traffic-light{background-image:url(../img/icons/24/traffic-light.png);}
.mws-i-24.i-trashcan-2{background-image:url(../img/icons/24/trashcan-2.png);}
.mws-i-24.i-trashcan{background-image:url(../img/icons/24/trashcan.png);}
.mws-i-24.i-travel-suitcase{background-image:url(../img/icons/24/travel-suitcase.png);}
.mws-i-24.i-tree{background-image:url(../img/icons/24/tree.png);}
.mws-i-24.i-trolly{background-image:url(../img/icons/24/trolly.png);}
.mws-i-24.i-truck-2{background-image:url(../img/icons/24/truck-2.png);}
.mws-i-24.i-truck{background-image:url(../img/icons/24/truck.png);}
.mws-i-24.i-tumbler{background-image:url(../img/icons/24/tumbler.png);}
.mws-i-24.i-twitter-1{background-image:url(../img/icons/24/twitter-1.png);}
.mws-i-24.i-twitter-2{background-image:url(../img/icons/24/twitter-2.png);}
.mws-i-24.i-twitter{background-image:url(../img/icons/24/twitter.png);}
.mws-i-24.i-umbrella{background-image:url(../img/icons/24/umbrella.png);}
.mws-i-24.i-under-construction{background-image:url(../img/icons/24/under-construction.png);}
.mws-i-24.i-unfavorite{background-image:url(../img/icons/24/unfavorite.png);}
.mws-i-24.i-universal-acces{background-image:url(../img/icons/24/universal-acces.png);}
.mws-i-24.i-unlock-unlocked{background-image:url(../img/icons/24/unlock-unlocked.png);}
.mws-i-24.i-unlocked{background-image:url(../img/icons/24/unlocked.png);}
.mws-i-24.i-upload{background-image:url(../img/icons/24/upload.png);}
.mws-i-24.i-usb-stick{background-image:url(../img/icons/24/usb-stick.png);}
.mws-i-24.i-user-2{background-image:url(../img/icons/24/user-2.png);}
.mws-i-24.i-user-comment{background-image:url(../img/icons/24/user-comment.png);}
.mws-i-24.i-user{background-image:url(../img/icons/24/user.png);}
.mws-i-24.i-users-2{background-image:url(../img/icons/24/users-2.png);}
.mws-i-24.i-users{background-image:url(../img/icons/24/users.png);}
.mws-i-24.i-v-card-1{background-image:url(../img/icons/24/v-card-1.png);}
.mws-i-24.i-v-card-2{background-image:url(../img/icons/24/v-card-2.png);}
.mws-i-24.i-v-card-3{background-image:url(../img/icons/24/v-card-3.png);}
.mws-i-24.i-v-card{background-image:url(../img/icons/24/v-card.png);}
.mws-i-24.i-vault{background-image:url(../img/icons/24/vault.png);}
.mws-i-24.i-video{background-image:url(../img/icons/24/Video.png);}
.mws-i-24.i-vimeo-2{background-image:url(../img/icons/24/vimeo-2.png);}
.mws-i-24.i-vimeo-3{background-image:url(../img/icons/24/vimeo-3.png);}
.mws-i-24.i-vimeo-4{background-image:url(../img/icons/24/vimeo-4.png);}
.mws-i-24.i-vimeo-5{background-image:url(../img/icons/24/vimeo-5.png);}
.mws-i-24.i-vimeo{background-image:url(../img/icons/24/vimeo.png);}
.mws-i-24.i-visa-2{background-image:url(../img/icons/24/visa-2.png);}
.mws-i-24.i-visa{background-image:url(../img/icons/24/visa.png);}
.mws-i-24.i-wacom-2{background-image:url(../img/icons/24/wacom-2.png);}
.mws-i-24.i-wacom{background-image:url(../img/icons/24/wacom.png);}
.mws-i-24.i-walking-man{background-image:url(../img/icons/24/walking-man.png);}
.mws-i-24.i-wifi-2{background-image:url(../img/icons/24/wifi-2.png);}
.mws-i-24.i-wifi-signal-2{background-image:url(../img/icons/24/wifi-signal-2.png);}
.mws-i-24.i-wifi-signal{background-image:url(../img/icons/24/wifi-signal.png);}
.mws-i-24.i-wifi{background-image:url(../img/icons/24/wifi.png);}
.mws-i-24.i-windows{background-image:url(../img/icons/24/windows.png);}
.mws-i-24.i-wine-glass{background-image:url(../img/icons/24/wine-glass.png);}
.mws-i-24.i-winner-podium{background-image:url(../img/icons/24/winner-podium.png);}
.mws-i-24.i-word-document{background-image:url(../img/icons/24/word-document.png);}
.mws-i-24.i-word-documents-1{background-image:url(../img/icons/24/word-documents-1.png);}
.mws-i-24.i-word-documents{background-image:url(../img/icons/24/word-documents.png);}
.mws-i-24.i-wordpress-2{background-image:url(../img/icons/24/wordpress-2.png);}
.mws-i-24.i-wordpress{background-image:url(../img/icons/24/wordpress.png);}
.mws-i-24.i-youtube-2{background-image:url(../img/icons/24/youtube-2.png);}
.mws-i-24.i-youtube-3{background-image:url(../img/icons/24/youtube-3.png);}
.mws-i-24.i-youtube-4{background-image:url(../img/icons/24/youtube-4.png);}
.mws-i-24.i-youtube{background-image:url(../img/icons/24/youtube.png);}
.mws-i-24.i-zip-documents{background-image:url(../img/icons/24/zip-documents.png);}
.mws-i-24.i-zip-file{background-image:url(../img/icons/24/zip-file.png);}
.mws-i-24.i-zip-files{background-image:url(../img/icons/24/zip-files.png);}