body, 
div#mws-container
{
	background-image:url('../img/core/bg/paper.png');
}

div#mws-sidebar-bg, 
div#mws-header, 
.mws-panel .mws-panel-header, 
div#mws-error-container, 
div#mws-login, 
div#mws-login .mws-login-lock, 
.ui-accordion .ui-accordion-header, 
.ui-tabs .ui-tabs-nav, 
.ui-datepicker, 
.fc-event-skin, 
.ui-dialog .ui-dialog-titlebar, 
div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer, 
div#mws-user-tools .mws-dropdown-menu .mws-dropdown-box, 
div#mws-user-tools .mws-dropdown-menu.toggled a.mws-dropdown-trigger
{
	background-color:#35353a;
}

div#mws-header
{
	border-color:#c5d52b;
}

.mws-panel .mws-panel-header span, 
div#mws-navigation ul li.active a, 
div#mws-navigation ul li.active span, 
div#mws-user-tools #mws-username, 
div#mws-navigation ul li span.mws-nav-tooltip, 
div#mws-user-tools #mws-user-info #mws-user-functions #mws-username, 
.ui-dialog .ui-dialog-title, 
.ui-state-default, 
.ui-state-active, 
.ui-state-hover, 
.ui-state-focus, 
.ui-state-default a, 
.ui-state-active a, 
.ui-state-hover a, 
.ui-state-focus a
{
	color:green;
	text-shadow:0 0 6px rgba(197, 213, 42, 0.5);
	font-size: 17px;
}

div#mws-searchbox input.mws-search-submit, 
.mws-panel .mws-panel-header .mws-collapse-button span, 
div.dataTables_wrapper .dataTables_paginate div, 
div.dataTables_wrapper .dataTables_paginate span.paginate_active, 
.mws-table tbody tr.odd:hover td, 
.mws-table tbody tr.even:hover td, 
.fc-state-highlight, 
.ui-slider-horizontal .ui-slider-range, 
.ui-slider-vertical .ui-slider-range, 
.ui-progressbar .ui-progressbar-value, 
.ui-datepicker td.ui-datepicker-current-day, 
.ui-datepicker .ui-datepicker-prev .ui-icon, 
.ui-datepicker .ui-datepicker-next .ui-icon, 
.ui-accordion-header .ui-icon, 
.ui-dialog-titlebar-close .ui-icon
{
	background-color:#c5d52b;
}
	
