/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0; outline:none;}
li, ol,ul {list-style:none;}
header, nav, article, footer, address, section{display:block; padding:0px; margin:0px;}
img{border:none;}
.cls{clear:both;}
.fl{float:left;}
.fr{float:right;}
.tr{text-align:right;}
.tj{text-align:justify;padding:4px;}
.tc{text-align:center;}
.tl{text-align:left;}
body {
	background-color:#fff;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	color:#616161;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:normal;
}
a{text-decoration:none; color:#0C0C0C; outline:none;}
a:hover{text-decoration:underline; background-color:#FFFFFF;color:#181975; outline:none;}
h1{color: #F1F1F1; font:bold 17px Arial, Helvetica, sans-serif;}
h2{color: #F1F1F1; font:bold 15px Arial, Helvetica, sans-serif;}
/*===========================| PADDING |============================*/
.PdTop20{padding-top:20px;}
.PdTop30{padding-top:30px;}
.PdTop35{padding-top:35px;}

.MarT50{margin-top:50px;}
.MarL200{margin-left:200px;}
/*===========================| LAYOUT CSS |============================*/
#Container{text-align:center; width:100%;}
#Containt{width:100%; margin:auto; overflow:hidden;}

.bodybg{height:100%; width:100%; position:fixed; top:0px; left:0px; z-index:-1000;}
.HW100{height:100%; width:100%;}


.logout{color:#FFF;margin-right:10px;}
/*===========================| NAVI CSS |============================*/
nav{margin-top:10px;}
nav ul{font-family:Conv_l_10646; font-size:14px; color:#5a5a59; float:left; border-bottom:1px solid #FFF; border-top:1px solid #FFF; list-style:none; padding:0px; width: 100%;}
nav ul li{float:left; list-style:none; padding:0px;width:50%;}/*nav ul li a{padding:23px 44%; display:block; color:#FFF;}*/nav ul li a{padding:23px; display:block; color:#FFF;}
nav ul li a:hover{background:#FFF; text-decoration:none; color:#575757;}
nav ul li.act a{background:#FFF; color:#575757;}

/*===========================| SECTION LEFT CSS |============================*/
section .widthebg{background:url(../img/white50bg.png) repeat; padding:10px; }
section .width100{width:100px; text-align:left; padding-top:7px;}
section .inpbg{background:#FFF; border:1px solid #acaaaa; width:250px; height:24px; padding:3px; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}
td{border-right:1px solid #CCC; border-bottom:1px solid #CCC; margin:0px; padding:0px;}


.btn {
  display: inline-block;
  padding: 5px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn-success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #47a447;
  border-color: #398439;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}


/*=========================| FONT COLORS & SIZE |==========================*/
.font32{font-family:'Conv_Enriqueta-Regular'; font-size:32px; color:#61772C; font-style:italic;}


@font-face {
	font-family: 'Conv_Enriqueta-Regular';
	src: url('../fonts/Enriqueta-Regular.eot');
	src: local('☺'), url('../fonts/Enriqueta-Regular.woff') format('woff'), url('../fonts/Enriqueta-Regular.ttf') format('truetype'), url('../fonts/Enriqueta-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}