/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0; outline:none;}
li, ol,ul {list-style:inside; padding-top:10px;}
header, nav, article, footer, address, section{display:block; padding:0px; margin:0px;}
img{border:none;}
iframe{border:0;}
.cls{clear:both;}
.fl{float:left;}
.fr{float:right;}
.tr{text-align:right;}
.tj{text-align:justify;padding:4px;}
.tc{text-align:center;}
.tl{text-align:left;}
body {
	margin:0px;
	color:#2d2d2c;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:normal;	
	background:#fff;
}
a{text-decoration:none; color:#000; outline:none;}
a:hover{text-decoration:none; color:#000; outline:none;}

/*===========================| LAYOUT CSS |============================*/
#Container{text-align:center; width:100%;background-color:#FFF;height:auto; margin:auto;}
#Container1{text-align:center; width:100%; background:#FFF;}
#Container2{text-align:center; width:100%;}
#Containt{width:1024px; margin:auto; overflow:hidden;}
#Containt1{width:415px; margin:auto; overflow:hidden;}
#Containt2{width:100%; margin:auto; overflow:hidden;}
#Containt3{width:1024px; margin:auto; overflow:hidden;}
#Containt4{width:1024px; margin:auto; overflow:hidden;}

.bodybg{height:100%; width:100%; position:fixed; top:0px; left:0px; z-index:-1000;display: none;}
.HW100{height:100%; width:100%;}
.breenbg{background:url(../../images/greenbg.png) repeat-x left top; height:90px;}


/*===========================| HEADER CSS |============================*/
/*header{ background-color:#FFF; height:82px;}*/
header{ background-color:#FFF; height:150px; border-bottom:1px solid #D5D5D4;}

/*===========================| SECTION LEFT CSS |============================*/
section .width570{width:570px;}
section .minhight450{min-height:450px;}
section .position{position:absolute; z-index:-1;}
section .yellow{background:#f0c662; padding:25px 35px 10px; }
section .button{width:130px; height:30px; cursor:pointer;}

.inpname{width:134px; height:20px; border:1px solid #e4efda; padding:3px 5px; color:#666; font-family:Arial, Helvetica, sans-serif;}

.button-link {
    background-color: #F2C73A;
    border: 0 solid #F2C73A;
    border-radius: 5px 5px 5px 5px;
    /*bottom: 0;*/
    box-shadow: 1px 1px #77611C, 3px 3px #77611C, 5px 5px #77611C, 7px 7px #77611C, 9px 9px #77611C;
    cursor: pointer !important;
    /*left: 0;*/
    position: absolute;
    /*right: 0;
    top: 0;*/
    transition: all 0.12s ease 0s;
	height:40px;
	width:95px;
}
.button-label {
    color: #000000;
    display: inline-block;
    font: 14px/1.3em Arial, Helvetica, sans-serif;
    margin-top: 0;
	line-height:40px;
    /*position: relative;
    transition: all 0.12s ease 0s;
    white-space: nowrap;*/
}
.button:hover .button-link {
    background-color: #F2C73A;
    border-color: #F2C73A;
	box-shadow: 0 0 #77611C;
    /*bottom: -9px;
    left: 9px;
    right: -9px;
    top: 9px;*/
	margin:9px 0 0 9px;
}
.button:hover .button-label{
    color: #000000;
}
.posiationmar480{position:absolute; margin-left:480px;}

/*===========================| FOOTER CSS |============================*/
footer{margin-top:50px; color:#FFF;}
footer .bg{background:url(../../images/footerbg.png) repeat-x left top;}
footer .foot a{color:#FFF;}
footer .foot a:hover{color:#FFF;}
/*=========================| FONT COLORS & SIZE |==========================*/
@font-face {
    font-family: 'ArialBlack';
    src: url('../../fonts/ariblk.eot');
    src: url('../../fonts/ariblk.eot') format('embedded-opentype'),
         url('../../fonts/ariblk.woff') format('woff'),
         url('../../fonts/ariblk.ttf') format('truetype'),
         url('../../fonts/ariblk.svg#ArialBlack') format('svg');
}
.arialblack{font-family:'ArialBlack';}

.font11{font-size:11px;}
.font24{font-size:24px;}

.white{color:#FFF;}
/*===========================| PADDING |============================*/
.PaddT15{padding-top:15px;}
.PaddT20{padding-top:20px;}

/*===========================| Margin |============================*/
.MarT12{margin-top:12px;}
.MarT17{margin-top:17px;}
.MarT25{margin-top:55px;}
.MarT62{margin-top:62px;}

.MarL20{margin-left:20px;}

/*welcome page*/
.MarT15{margin-top:35px;}

/*login page*/
.width595{width:595px; overflow:hidden;}
.hight50{height:50px;}
.width402{width:362px; padding:0 20px 20px; background:#35353a; -webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;}
.font17{font-size:17px; font-family:Verdana, Geneva, sans-serif; font-weight:bold; color:#49494d; line-height:18px;}
.box342{width:342px; height:28px; background:#faffbd; padding:6px 10px; -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;}
.inplogin{background:none; width:293px; height:25px; border:none; font-family:Arial, Helvetica, sans-serif; font-weight:bold; padding:3px 0; color:#333;}
.MarT30{margin-top:30px;}
.box342gray{width:342px; height:16px; background:#2c2c31; padding:12px 10px; -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px; color:#FFF;}
.checktext{font-weight:bold; padding-left:5px;}

.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 12px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  /*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);*/
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 12px;
  line-height: 20px;
  color: #000;
  text-align: center;
  /*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);*/
  vertical-align: middle;
  cursor: pointer;
  background-color: #FFF;
  *background-color: #FFF;
  background-image: -moz-linear-gradient(top, #FFF, #FFF);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#FFF));
  background-image: -webkit-linear-gradient(top, #FFF, #FFF);
  background-image: -o-linear-gradient(top, #FFF, #FFF);
  background-image: linear-gradient(to bottom, #FFF, #FFF);
  background-repeat: repeat-x;
  border: 1px solid #FFF;
  *border: 0;
  border-color: #FFF #FFF #FFF;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #FFF;
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#FFF', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.75);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.75);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #FFF;
  background-color: #97c943;
  *background-color: #97c943;
  background-image: -moz-linear-gradient(top, #FFF, #97c943);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#97c943));
  background-image: -webkit-linear-gradient(top, #FFF, #97c943);
  background-image: -o-linear-gradient(top, #FFF, #97c943);
  background-image: linear-gradient(to bottom, #FFF, #97c943);
  border-bottom-color: #97c943;
}

.active{color: #FFF;
  background-color: #97c943;
  *background-color: #97c943;
  background-image: -moz-linear-gradient(top, #FFF, #97c943);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#97c943));
  background-image: -webkit-linear-gradient(top, #FFF, #97c943);
  background-image: -o-linear-gradient(top, #FFF, #97c943);
  background-image: linear-gradient(to bottom, #FFF, #97c943);
  border-bottom-color: #97c943;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}
  

.btn:hover,
.btn:focus {
  color: #FFF;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}



.btn-success {
  color: #000;
  font-weight:bold;
  /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
  background-color: #97c943;
  *background-color: #97c943;
  background-image: -moz-linear-gradient(top, #abdd56, #97c943);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#abdd56), to(#97c943));
  background-image: -webkit-linear-gradient(top, #abdd56, #97c943);
  background-image: -o-linear-gradient(top, #abdd56, #97c943);
  background-image: linear-gradient(to bottom, #abdd56, #97c943);
  background-repeat: repeat-x;
  border-color: #335611 #335611 #335611;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#abdd56', endColorstr='#97c943', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #000;
  background-color: #97c943;
  *background-color: #85ad42;
}

.width362{width:362px; height:40px; font-size:18px; font-family:'GreyscaleBasicRegular';}
.MarT10{margin-top:10px;}


/*report page*/
#Containt5 {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    width: 1084px !important;
    padding:0;
}
.greenbg{
	background: #84b757; /* Old browsers */
background: -moz-linear-gradient(top,  #84b757 0%, #78b046 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#84b757), color-stop(100%,#78b046)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #84b757 0%,#78b046 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #84b757 0%,#78b046 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #84b757 0%,#78b046 100%); /* IE10+ */
background: linear-gradient(to bottom,  #84b757 0%,#78b046 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84b757', endColorstr='#78b046',GradientType=0 ); /* IE6-9 */
height:auto;
box-shadow: 0 1px 3px #000000;
margin:0 20px 0 0;
width:200px;
float:left;
}
.MarB20{margin-bottom:20px;}
.width145{width:145px; height:40px;line-height: 15px;}
.MarTL22{margin-top:22px; margin-left:90px;}
.Mar20-10{margin:20px 10px;}
.tablebor{border-top:1px solid #CCC; border-left:1px solid #CCC;}
.tdbor{border-bottom:1px solid #CCC; border-right:1px solid #CCC; padding:5px 2px;}

@font-face {
    font-family: 'GreyscaleBasicRegular';
    src: url('../fonts/greyscale_basic_regular.eot');
    src: url('../fonts/greyscale_basic_regular.eot') format('embedded-opentype'),
         url('../fonts/greyscale_basic_regular.woff') format('woff'),
         url('../fonts/greyscale_basic_regular.ttf') format('truetype'),
         url('../fonts/greyscale_basic_regular.svg#GreyscaleBasicRegular') format('svg');
}

/*video*/
.width482{width:482px; height:360px; overflow:hidden;}
.basicfont{font-family:'GreyscaleBasicRegular';}
.font40{font-size:40px;}
.width100{width:100px; text-align:left; padding-top:7px;}
.inpbg{background:#FFF; border:1px solid #acaaaa; width:250px; height:24px; padding:3px; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}
.MarA20{margin:40px 20px;}

textarea{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #ACAAAA;
    border-radius: 5px;
    height: 150px;
    padding: 3px;
    width: 250px;
}

/*===========================| Excelsheet css |============================*/
.myButton {
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
background-color:#44c767;
-moz-border-radius:28px;
-webkit-border-radius:28px;
border-radius:28px;
border:1px solid #18ab29;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:arial;
font-size:17px;
padding:8px 15px;
text-decoration:none;
text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #83b756), color-stop(1, #44c767));
background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
background-color:#5cbf2a;
}
.myButton:active {
position:relative;
top:1px;
}
.exbuttion
{
	padding-top: 10px;
    padding-bottom: 10px;
	margin-right: 12px;
}


/*new css*/

#Containt2 .MarTL22 {
    margin: 20px 20px 10px 20px;
}

#Containt2 .MarB20 {
    margin-bottom: 0;
}
#Containt2 .MarL20 {
    margin-left: 0;
}

#Containt2 .width145 {
    height: 35px;
    margin-bottom: 10px;
    width: 160px;
}
#Containt5 .MarA20 {
    margin: 0;
}

.tdbor a button.btn.width145{ width:84px !important;}

.green
{
	color: #A0CE53;
}

/*27.05.2014*/

header .logo{ float:left;}
header .logoutbutton {
    float: right;
    margin: 60px 10px 0 0;
}

.menu-ir {
    background: none repeat scroll 0 0 #D5D5D4;
    float: left;
    /*margin-right: 20px;*/
    min-height: 760px;
    text-align: left;
    width: 175px;
}
.menuli a {
    background: none repeat scroll 0 0 #D5D5D4;
    color: #908D8F;
    font-size: 13px;
    padding: 10px 0 10px 15px;
    width: 160px;
	float:left;
	-webkit-transition: all .5s ease-in-out;
  	-moz-transition: all .5s ease-in-out;
  	-o-transition: all .5s ease-in-out;
  	transition: all .5s ease-in-out;
}
.menuli a:hover {
    background: none repeat scroll 0 0 #f1f1f0;
    color: #908D8F;
    padding: 10px 0 10px 15px;
}
.menuli a.active {
    background: none repeat scroll 0 0 #f1f1f0;
    color: #908D8F;
    padding: 10px 0 10px 15px;
}
.menuli button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
	color:#908d8f;
	font-weight:bold;
	cursor:pointer;
	font-size:12px; 
}

.menuli img {
    vertical-align: calc(-10px);
}


.myButtonme {
	-moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));
	background:-moz-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d',GradientType=0);
	background-color:#fc8d83;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.myButtonme:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #fc8d83));
	background:-moz-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:-webkit-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:-o-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:-ms-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#fc8d83',GradientType=0);
	background-color:#e4685d;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButtonEdit {
	-moz-box-shadow:inset 0px 1px 0px 0px #A0CE53;
	-webkit-box-shadow:inset 0px 1px 0px 0px #A0CE53;
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));
	background:-moz-linear-gradient(top, #A0CE53  5%, #A0CE53  100%);
	background:-webkit-linear-gradient(top, #A0CE53  5%, #A0CE53  100%);
	background:-o-linear-gradient(top, #A0CE53   5%, #A0CE53 100%);
	background:-ms-linear-gradient(top, #A0CE53   5%, #A0CE53 100%);
	background:linear-gradient(to bottom, green  5%, #A0CE53 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d',GradientType=0);
	background-color:#A0CE53;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	/*border:1px solid #d83526;*/
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px green;
}
.myButtonEdit:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #fc8d83));
	background:-moz-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:-webkit-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:-o-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:-ms-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#fc8d83',GradientType=0);
	background-color:#e4685d;
}
.myButtonEdit:active {
	position:relative;
	top:1px;
}

.profile-img {
border-radius: 100px;
height: 150px;
margin: 5px 0 10px;
width: 150px;
}
.nevel-ir2 {
    border-radius: 50px;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.36);
    font-size: 32px;
    font-weight: bold;
    height: 45px;
    line-height: 45px;
    margin-bottom: 7px;
    text-align: center;
    top: 100px;
    width: 45px;
	right:36px;
	position:absolute;
}
.zero-nevel {
    background:#cccccc;
	color:#7f7f7f;
}
.one-nevel {
    background: #8eb4e3;
	color:#fff;
}
.two-nevel {
    background: #b3a2c7;
	color:#fff;
}
.three-nevel {
    background: #ff6600;
	color:#fff;
}
.four-nevel {
    background: #9bbb59;
	color:#fff;
}
.five-nevel {
    background: #953735;
	color:#fff;
}
.six-nevel {
    background: #ff5bbb;
	color:#fff;
}
.seven-nevel {
    background: #81d1a7;
	color:#fff;
}
.eight-nevel {
    background: #ff0000;
	color:#fff;
}
.nine-nevel {
    background: #3366ff;
	color:#fff;
}
.ten-nevel {
    background: #f4c502;
	color:#fff;
}

/*03.06.2014*/
.main-head{ width: 500px;text-align: left;margin: 42px 0 0 30px;color: #85c120; float:left;}
.main-head h1{ font-size:40px;line-height: 66px;}
.main-head img{float: left;margin-right: 10px;opacity: .4;}
.table-top{ float:left; width:100%; border-bottom:1px solid #ccc;padding: 10px 0;margin-bottom: 20px;}
.table-left{float: left;text-align: left;margin: 15px 0 0 20px;}
.table-right{ float:right;margin: 30px 10px 0 0;}
.dataTables_wrapper {position: relative;clear: both;width: 97%;left: 20px;}


/*04.06.2014*/

.mid-section{position:relative;float:left;width:100%;border-bottom:1px dotted #ccc;font-size:18px;font-weight:400;padding-bottom:20px}
.adminimage{width:250px;float:left}
.admindetail{float:left;line-height:28px;margin-top:10px;text-align:left;width:450px}
.admibutton{float:left;width:135px}
.admibutton .but{background:#d2d2d2;color:#7c7b7b;font-size:14px;width:100%;float:left;margin-top:5px;padding:5px}
.admibutton .but.active{background:#6fbf4c;color:#fff}
.delete{position:absolute;top:0;right:20px}
.blue{color:#0293d1}
.right_part{width:726px;margin:auto}
.table_head{font-size:16px;text-align:left;float:left;margin:15px 0 10px}
table.history{border:1px solid #CACACA;float:left;clear:both;padding:0}
tr.history{border-bottom:1px dotted #ADADAD}
th.history{border-right:1px dotted #ADADAD;color:#0A0A0A;font-size:16px;font-weight:400;text-shadow:0 1px 0 #FFF;padding:10px}
td.history{border-right:1px dotted #ADADAD;color:#7F7F7F;font-size:14px;font-weight:700;text-align:center;padding:2px;line-height:39px;}
td.history:nth-child(2) input[type=text]{color:#98C343}
td.history input[type=text]{background:none repeat scroll 0 0 #E0E0E0;border:1px solid #CACACA;color:#5D5D5D;font-size:16px;font-weight:400;height:20px;text-align:center;width:88%;border-radius:3px;margin:4px 0 3px 8px;padding:5px}
.odd ,.even{
		line-height:30px!important;
}
#regform{font-size:14px;}
#regform .width150{width:150px; text-align:left;}
.MarT15N{margin-top:15px;}
.green{color:red}




.table-div {
    display: block;
    width: 96.8%;
    overflow: auto;
    box-sizing: border-box;
    margin: auto;
}
.table-div table#userlogform {
    margin-bottom: 5px;
}
table.dataTable thead th {
    padding: 6px 10px !important;
    border: 1px solid #ccc !important;
    font-weight: bold !important;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    color: #000;
    text-shadow: none;
    white-space: nowrap;
}

table.dataTable td {
    padding: 7px 10px !important;
    border: 1px solid #ccc;
    font-weight: normal;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    color: #000;
    text-shadow: none;
    white-space: nowrap;
    height: auto;
}
table.dataTable tbody tr:nth-child(2n){ background-color:#EAEAEA}




/*01.10.2015*/
.new-home {
    float: left;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.row-fluid {
    width: 100%;
	display: inline-block;
}
.row-fluid .span3 {
    width: 23.076923076923077%;
}
.row-fluid [class*="span"]:first-child {
    margin-left: 0;
}
.row-fluid .span3 {
    float: left;
    margin-left: 25px;
	margin-bottom:20px;
}

.graph-page .clicks {
	font-size: 16px;
    border: 1px solid #CCC;
    box-shadow: 0px 1px 1px #CCC;
    padding: 18px 0;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 3px;
	background: #fafafa;
background: -moz-linear-gradient(top,  #fafafa 0%, #ffffff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#ffffff));
background: -webkit-linear-gradient(top,  #fafafa 0%,#ffffff 100%);
background: -o-linear-gradient(top,  #fafafa 0%,#ffffff 100%);
background: -ms-linear-gradient(top,  #fafafa 0%,#ffffff 100%);
background: linear-gradient(to bottom,  #fafafa 0%,#ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#ffffff',GradientType=0 );

}
.graph-page .clicks h3 {
    font-size: 24px;
    line-height: normal;
    margin: 0 0 10px 0;
	color:#605E5E
}
.graph-page .clicks p {
    font-size:14px;
	margin:0
}
.graph-page .clicks h3.green{color: #26B814}

.menu-ir i.fa.fa-home {
    font-size: 34px;
    vertical-align: middle;
}
.new-home h5 {
    color: #605E5E;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    background-color: #F8F8F8;
    display: inline-block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #E5E5E7;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
}

.row-fluid .span9 {
    width: 74.35897435897436%;
}
.graph-box {
    border: 1px solid #eee;
    border-radius: 3px 3px 0 0;
	position:relative;
	
}
.graph-page .span9 select {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f1f1f1));
    background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f1f1f1 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f1f1f1 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 );
    width: 150px;
    margin: 0 10px 0 5px;
    height: 24px;
    box-sizing: border-box;
}
.year-month-box {
    position: absolute;
    top: 3px;
    z-index: 9999;
    right: 0;
}
.graph-box h4 {
    background-color: #F6F7F8;
    margin: 0;
    font-size: 16px;
    padding: 7px 15px 6px;
    border-bottom: 1px solid #eee;
	font-weight:normal;
	text-align: left;
}
.graph-box .graphs {
    overflow: hidden;
    position: relative;
	padding: 10px;
    min-height: 172px;
}
.graph-right .clicks {
    margin-bottom: 15px;
}

.graph-page .clicks h4 {
    font-size: 17.5px;
    margin: 5px 0 2px 0;
    color: #605E5E;
    font-weight: normal;
}
[class*="span"] {
    float: left;
    min-height: 1px;
}

table#payment_report td,table#payment_report th {
    border: none !important;
    border-bottom: 1px solid #ccc !important;
}
table#payment_report td:last-child,table#payment_report th:last-child {
    border-right: 1px solid #ccc !important;
}
table#payment_report td.sorting_1 {
    background-color: transparent !important;
}
table#payment_report th{ background:#F9F9F9; line-height:30px;}
table#payment_report td i{ font-size:18px;}


.table-shoe-hide-div {
    display: inline-block;
    background-color: #5A5A5A;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    margin-bottom: 20px;
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 500px;
    top: 44%;
	border-radius:3px;
}
.table-shoe-hide-div h3{ margin-bottom:20px;}
.table-shoe-hide-div label {
    font-size: 18px;
    text-align: right;
    display: inline-block;
    margin-right: 5px;
    width: 100px;
}
.table-shoe-hide-div input[type="text"], .table-shoe-hide-div input[type="password"] {
    height: 25px;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
}
.table-shoe-hide-div input[type="button"], .table-shoe-hide-div input[type="submit"] {
    background-color: #E0B462;
    line-height: 30px;
    color: #fff;
    border: none;
    text-align: center;
    padding: 0 25px;
    margin-top: 15px;
    font-size: 14px;
	margin:10px 5px 0
}
.show-hide-main{ background-color:rgba(0,0,0,.4); position:fixed; left:0; right:0; top:0; bottom:0;z-index: 999;}
.show-hide-main_new{ background-color:rgba(0,0,0,.4); position:fixed; left:0; right:0; top:0; bottom:0;z-index: 999;}
    