@charset "utf-8";
/* Future Profilez */

ul,li{padding:0px; margin:0px; list-style:none;}

body{color:#333; font-family:Arial, Helvetica, sans-serif; font-size:14px; margin:0; padding:0;}

.tc{text-align:center;}
.fl{float:left; width:50px;}
.flnew{float:left;}
.clear{clear:both;}

.MarB5{margin-bottom:5px;}

.MarL10{margin-left:10px;}

.container{
	   margin: auto;
    padding: 106px;
    width: 1000px;
}
section .deparment{float:left; text-align:left; margin-right:20px; width: 180px;}
section .deparment1 h2{margin:0 0 10px;}
section .deparment1 .fl{float:left; width:50px;}
section .deparment1 .fl-new{float:left; margin-left:10px;}
section .deparment1{background:#0082cc; padding:10px; color:#FFF;}
section .deparment1 a{color:#FFF; text-decoration:none;}
section .section1 ul li{margin:5px 0 0 10px; }
section .section1 ul li a{padding:10px; display:block; background:#0b90dc; color:#FFF;}
section .section1 ul li h3{margin:0; padding:0;}
section .section1 ul li ul li a{padding:10px 20px; display:block; background:#1a9ee9;}
section .section1 ul li ul li h4{margin:0; padding:0;}
section .section1 a{color:#FFF; text-decoration:none;}


section .deparment{float:left; text-align:left; margin-right:20px; width: 180px;}
section .deparment2 h2{margin:0 0 10px;}
section .deparment2 .fl{float:left; width:50px;}
section .deparment2 .fl-new{float:left; margin-left:10px;}
section .deparment2{background:#00a0a3; padding:10px; color:#FFF;}
section .deparment2 a{color:#FFF; text-decoration:none;}
section .section2 ul li{margin:5px 0 0 10px;}
section .section2 ul li a{padding:10px; display:block; background:#0ab9bc; color:#FFF;}
section .section2 ul li h3{margin:0; padding:0;}
section .section2 ul li ul li a{padding:10px 20px; display:block; background:#10c7ca;}
section .section2 ul li ul li h4{margin:0; padding:0;}
section .section2 a{color:#FFF; text-decoration:none;}


section .deparment{float:left; text-align:left; margin-right:20px; width: 180px;}
section .deparment3 h2{margin:0 0 10px;}
section .deparment3 .fl{float:left; width:50px;}
section .deparment3 .fl-new{float:left; margin-left:10px;}
section .deparment3{background:#e81616; padding:10px; color:#FFF;}
section .deparment3 a{color:#FFF; text-decoration:none;}
section .section3 ul li{margin:5px 0 0 10px;}
section .section3 ul li a{padding:10px; display:block; background:#ec2a2a; color:#FFF;}
section .section3 ul li h3{margin:0; padding:0;}
section .section3 ul li ul li a{padding:10px 20px; display:block; background:#f33e3e;}
section .section3 ul li ul li h4{margin:0; padding:0;}
section .section3 a{color:#FFF; text-decoration:none;}

section .deparment{float:left; text-align:left; margin-right:20px; width: 180px;}
section .deparment4 h2{margin:0 0 10px;}
section .deparment4 .fl{float:left; width:50px;}
section .deparment4 .fl-new{float:left; margin-left:10px;}
section .deparment4{background:#d66822; padding:10px; color:#FFF;}
section .deparment4 a{color:#FFF; text-decoration:none;}
section .section4 ul li{margin:5px 0 0 10px;}
section .section4 ul li a{padding:10px; display:block; background:#e6762f; color:#FFF;}
section .section4 ul li h3{margin:0; padding:0;}
section .section4 ul li ul li a{padding:10px 20px; display:block; background:#ec813c;}
section .section4 ul li ul li h4{margin:0; padding:0;}
section .section4 a{color:#FFF; text-decoration:none;}